openapi: 3.1.0
info:
  title: Unofficial Namma BMTC API
  version: 1.0.0
  summary: Unofficial Namma BMTC OpenAPI specification for static data and live tracking APIs
  contact:
    name: open-bmtc
    url: https://github.com/Vonter/open-bmtc
  description: |

    ## Welcome to the Unofficial Namma BMTC OpenAPI specification!

    These APIs can be used to fetch static data about BMTC services, and live track buses operated by BMTC.

    **Use these APIs at your own risk. Static data and live tracking data may not reflect actual operations.**

    ### Static Data
    
    Typical flow for fetching static data:
      1. `/GetAllRouteList` to get all the routes with their:
      - Route: `routeid`, `routeno`, `routename` (Note: Each direction of a route has a separate `routeid`)
      - Origin: `fromstation`, `fromstationid`
      - Destination: `tostation`, `tostationid`
      2. `/SearchRoute_v2` to get the `routeparentid` for the route, using the `routeno`
      3. `/GetTimetableByRouteid_v3` to get the *timetable*, using the `routeid`
      4. `/SearchByRouteDetails_v4` to get the list of *stops*, using the `routeparentid`
      5. `/GetFareRoutes` to get the source and destination station codes, using the `fromStationId` and `toStationId`
      6. `/GetMobileFareData_v2` to get the *fare*, using the station codes, `routeid` and `routeno`

    ### Live Tracking

    Typical flow for live tracking:
      1. `/SearchByRouteDetails_v4` to live track a route, using the `routeparentid`
      2. `/VehicleTripDetails_v2` to live track a vehicle, using the `vehicleId`
      3. `/TripPlannerMSMD` to plan a trip based on vehicles currently plying, given a `fromStationId` and `toStationId`

    More details about all the APIs, including the above mentioned APIs, can be found below. 

servers:
- description: Namma BMTC backend API server
  url: https://bmtcmobileapistaging.amnex.com/WebAPI
paths:
  /FindNearByBusStop_v2:
    post:
      summary: |
        Find bus stops by name (Static)
      tags:
      - stop
      description: |
        Find bus stops whose name has `stationName` as a substring. `stationName` needs to be at least 3 characters **(Static)**
      requestBody:
        content:
          application/json:
            example:
              stationName: central
            schema:
              properties:
                stationName:
                  type: string
              required:
              - stationName
              type: object
      responses:
        '200':
          content:
            text/plain:
              example:
                Issuccess: true
                Message: Success
                RowCount: 12
                data:
                - center_lat: 0
                  center_lon: 0
                  responsecode: 200
                  route: ''
                  routeid: 23426
                  routename: Central
                  routeno: ''
                  routetypeid: '2'
                  srno: 4
                - center_lat: 0
                  center_lon: 0
                  responsecode: 200
                  route: ''
                  routeid: 32212
                  routename: Central Bank Kadugodi
                  routeno: ''
                  routetypeid: '2'
                  srno: 7
                - center_lat: 0
                  center_lon: 0
                  responsecode: 200
                  route: ''
                  routeid: 37850
                  routename: Central Silk Board
                  routeno: ''
                  routetypeid: '2'
                  srno: 10
                - center_lat: 0
                  center_lon: 0
                  responsecode: 200
                  route: ''
                  routeid: 22730
                  routename: BMTC Central Work Shop
                  routeno: ''
                  routetypeid: '2'
                  srno: 2
                - center_lat: 0
                  center_lon: 0
                  responsecode: 200
                  route: ''
                  routeid: 24745
                  routename: BMTC Central Work Shop -3
                  routeno: ''
                  routetypeid: '2'
                  srno: 6
                - center_lat: 0
                  center_lon: 0
                  responsecode: 200
                  route: ''
                  routeid: 23747
                  routename: BMTC Old Central office
                  routeno: ''
                  routetypeid: '2'
                  srno: 5
                - center_lat: 0
                  center_lon: 0
                  responsecode: 200
                  route: ''
                  routeid: 23389
                  routename: Bengaluru Central Jail
                  routeno: ''
                  routetypeid: '2'
                  srno: 3
                - center_lat: 0
                  center_lon: 0
                  responsecode: 200
                  route: ''
                  routeid: 32427
                  routename: Depot-25 HSR Layout
                  routeno: ''
                  routetypeid: '2'
                  srno: 8
                - center_lat: 0
                  center_lon: 0
                  responsecode: 200
                  route: ''
                  routeid: 20928
                  routename: KH Road
                  routeno: ''
                  routetypeid: '2'
                  srno: 1
                - center_lat: 0
                  center_lon: 0
                  responsecode: 200
                  route: ''
                  routeid: 34222
                  routename: Parappana Agrahara
                  routeno: ''
                  routetypeid: '2'
                  srno: 9
                - center_lat: 0
                  center_lon: 0
                  responsecode: 200
                  route: ''
                  routeid: 38588
                  routename: Ragigudda Temple
                  routeno: ''
                  routetypeid: '2'
                  srno: 12
                - center_lat: 0
                  center_lon: 0
                  responsecode: 200
                  route: ''
                  routeid: 37868
                  routename: Roopena Agrahara
                  routeno: ''
                  routetypeid: '2'
                  srno: 11
                exception: null
                responsecode: 200
              schema:
                properties:
                  Issuccess:
                    type: boolean
                  Message:
                    type: string
                  RowCount:
                    type: integer
                  data:
                    items:
                      properties:
                        center_lat:
                          type: integer
                        center_lon:
                          type: integer
                        responsecode:
                          type: integer
                        route:
                          type: string
                        routeid:
                          type: integer
                        routename:
                          type: string
                        routeno:
                          type: string
                        routetypeid:
                          type: string
                        srno:
                          type: integer
                      required:
                      - srno
                      - routeno
                      - routeid
                      - center_lat
                      - center_lon
                      - responsecode
                      - routetypeid
                      - routename
                      - route
                      type: object
                    type: array
                  exception:
                    type: 'null'
                  responsecode:
                    type: integer
                required:
                - data
                - Message
                - Issuccess
                - exception
                - RowCount
                - responsecode
                type: object
          description: ''
          headers: ''
      security: []
  /AroundBusStops_v2_Webportal:
    post:
      summary: |
        List bus stations and facilities available (Static)
      tags:
      - stop
      description: |
        List bus stations and facilities (like ATM, toilet, bus pass counter) available at the bus station **(Static)**
      requestBody:
        content:
          application/json:
            example:
              deviceType: WEB
              lan: en
            schema:
              properties:
                deviceType:
                  type: string
                lan:
                  type: string
              required:
              - lan
              - deviceType
              type: object
      responses:
        '200':
          content:
            text/plain:
              example:
                Issuccess: true
                Message: Success
                RowCount: 39
                data:
                - Arounds:
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/ATM.png
                    list:
                    - distance: '8639.8'
                      latitude: '12.79715'
                      longitude: '77.38503'
                      name: Bidadi Bus Station - Karnataka Bank ATM
                    type: ATM
                    typeid: '155'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Hotel.png
                    list:
                    - distance: '8639.8'
                      latitude: '12.79713'
                      longitude: '77.38498'
                      name: Bidadi Bus Station - Hotel Raghavendra Udupi
                    type: Hotel
                    typeid: '158'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Medical%20Store.png
                    list:
                    - distance: '8639.8'
                      latitude: '12.79726'
                      longitude: '77.38503'
                      name: Bidadi Bus Station - Medical Store
                    type: Medical Store
                    typeid: '194'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Parking.png
                    list:
                    - distance: '8639.8'
                      latitude: '12.79735'
                      longitude: '77.38475'
                      name: Bidadi Bus Station - Car-Bike Parking
                    type: Parking
                    typeid: '3'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Pass%20Counter.png
                    list:
                    - distance: '8639.8'
                      latitude: '12.79724'
                      longitude: '77.38499'
                      name: Bidadi Bus Station - BMTC Bus Pass Counter
                    type: Pass Counter
                    typeid: '195'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Toilet.png
                    list:
                    - distance: '8639.8'
                      latitude: '12.79718'
                      longitude: '77.38506'
                      name: Bidadi Bus Station - Public Toilet
                    type: Toilet
                    typeid: '196'
                  distance: '8639.8'
                  stationname: Bidadi
                - Arounds:
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Ladies%20restroom.png
                    list:
                    - distance: '8651.0'
                      latitude: '12.91604'
                      longitude: '77.48204'
                      name: Kengeri Satellite-Waiting Lounge (Nirbhaya)1
                    - distance: '8651.0'
                      latitude: '12.91604'
                      longitude: '77.48204'
                      name: Kengeri Satellite-Waiting Lounge (Nirbhaya)2
                    type: Ladies Restroom
                    typeid: '186'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Parking.png
                    list:
                    - distance: '8651.1'
                      latitude: '12.91515'
                      longitude: '77.48294'
                      name: Kengeri Satellite Bus Station-Car-Bike Parking
                    type: Parking
                    typeid: '3'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Toilet.png
                    list:
                    - distance: '8651.0'
                      latitude: '12.91598'
                      longitude: '77.48196'
                      name: Kengeri Satellite Bus Station-Public Toilet
                    type: Toilet
                    typeid: '196'
                  distance: '8651.0'
                  stationname: Kengeri Post Office
                - Arounds:
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/ATM.png
                    list:
                    - distance: '8651.5'
                      latitude: '12.91374'
                      longitude: '77.48720'
                      name: Kengeri bus station -Axis Bank ATM
                    type: ATM
                    typeid: '155'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Funcation%20Hall.png
                    list:
                    - distance: '8651.5'
                      latitude: '12.91372'
                      longitude: '77.48701'
                      name: Kengeri bus station -Kadamba Party Hall
                    type: Function Hall
                    typeid: '197'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Hotel.png
                    list:
                    - distance: '8651.5'
                      latitude: '12.91381'
                      longitude: '77.48710'
                      name: Kengeri bus station -Hotel Kadamba Veg
                    type: Hotel
                    typeid: '158'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Ladies%20restroom.png
                    list:
                    - distance: '8651.5'
                      latitude: '12.91372'
                      longitude: '77.48720'
                      name: Kengeri - Waiting Lounge (Nirbhaya)
                    type: Ladies Restroom
                    typeid: '186'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Lodge.png
                    list:
                    - distance: '8651.5'
                      latitude: '12.91396'
                      longitude: '77.48694'
                      name: Kengeri bus station -Kadamba Guesting
                    - distance: '8651.5'
                      latitude: '12.91375'
                      longitude: '77.48740'
                      name: Kengeri bus station -Nirashrethara Seva Kendra
                    type: Lodge
                    typeid: '198'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Medical%20Store.png
                    list:
                    - distance: '8651.5'
                      latitude: '12.91367'
                      longitude: '77.48751'
                      name: Kengeri bus station-medical store
                    type: Medical Store
                    typeid: '194'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Parking.png
                    list:
                    - distance: '8651.4'
                      latitude: '12.91378'
                      longitude: '77.48666'
                      name: Kengeri bus station -Car-Bike Parking - 3
                    - distance: '8651.5'
                      latitude: '12.91380'
                      longitude: '77.48712'
                      name: Kengeri bus station -Car-Bike Parking - 1
                    - distance: '8651.5'
                      latitude: '12.91381'
                      longitude: '77.48745'
                      name: Kengeri bus station -Car-Bike Parking - 2
                    type: Parking
                    typeid: '3'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Pass%20Counter.png
                    list:
                    - distance: '8651.5'
                      latitude: '12.91372'
                      longitude: '77.48734'
                      name: Kengeri bus station -BMTC Bus Pass Counter
                    type: Pass Counter
                    typeid: '195'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Toilet.png
                    list:
                    - distance: '8651.5'
                      latitude: '12.91345'
                      longitude: '77.48726'
                      name: Kengeri bus station-Public Toilet
                    type: Toilet
                    typeid: '196'
                  distance: '8651.5'
                  stationname: Kengeri Bus Stand
                - Arounds:
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Parking.png
                    list:
                    - distance: '8651.9'
                      latitude: '13.13760'
                      longitude: '77.47924'
                      name: Hesarughatta Bus Station - Bike-Cycle Parking
                    type: Parking
                    typeid: '3'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Pass%20Counter.png
                    list:
                    - distance: '8651.9'
                      latitude: '13.13763'
                      longitude: '77.47920'
                      name: Hesarughatta Bus Station-BMTC Bus Pass Counter
                    type: Pass Counter
                    typeid: '195'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Toilet.png
                    list:
                    - distance: '8651.9'
                      latitude: '13.13761'
                      longitude: '77.47920'
                      name: Hesarughatta Bus Station - Public Toilet
                    type: Toilet
                    typeid: '196'
                  distance: '8651.9'
                  stationname: Hesaraghatta
                - Arounds:
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/General%20Building.png
                    list:
                    - distance: '8655.1'
                      latitude: '12.90672'
                      longitude: '77.52116'
                      name: BEML 5th Stage -Baengaluru One
                    type: Bengaluru One
                    typeid: '199'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Hotel.png
                    list:
                    - distance: '8655.1'
                      latitude: '12.90686'
                      longitude: '77.52105'
                      name: BEML 5th Stage -Sawadista
                    type: Hotel
                    typeid: '158'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Pass%20Counter.png
                    list:
                    - distance: '8655.2'
                      latitude: '12.90680'
                      longitude: '77.52131'
                      name: BEML 5th Stage BS-BMTC Bus Pass Counter
                    type: Pass Counter
                    typeid: '195'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Toilet.png
                    list:
                    - distance: '8655.2'
                      latitude: '12.90656'
                      longitude: '77.52193'
                      name: BEML 5th Stage-Public Toilet
                    type: Toilet
                    typeid: '196'
                  distance: '8655.1'
                  stationname: BEML Layout 5th Stage
                - Arounds:
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/ATM.png
                    list:
                    - distance: '8655.2'
                      latitude: '12.95864'
                      longitude: '77.51906'
                      name: Nagarabhavi Bus Station-S B I Bank ATM
                    - distance: '8655.2'
                      latitude: '12.95774'
                      longitude: '77.51886'
                      name: Nagarabhavi Bus Station-Axis Bank ATM
                    type: ATM
                    typeid: '155'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Hotel.png
                    list:
                    - distance: '8655.1'
                      latitude: '12.95860'
                      longitude: '77.51844'
                      name: Nagarabhavi Bus Station-S L V Grand
                    type: Hotel
                    typeid: '158'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Toilet.png
                    list:
                    - distance: '8655.2'
                      latitude: '12.95810'
                      longitude: '77.51915'
                      name: Nagarabhavi Bus Station-Public Toilet
                    type: Toilet
                    typeid: '196'
                  distance: '8655.2'
                  stationname: Nagarabhavi Circle
                - Arounds:
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Parking.png
                    list:
                    - distance: '8656.0'
                      latitude: '12.95925'
                      longitude: '77.52673'
                      name: Chandra Layout-Bike-Cycle Parking
                    type: Parking
                    typeid: '3'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Pass%20Counter.png
                    list:
                    - distance: '8656.0'
                      latitude: '12.95927'
                      longitude: '77.52672'
                      name: Chandra Layout-BMTC Bus Pass Counter
                    type: Pass Counter
                    typeid: '195'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Toilet.png
                    list:
                    - distance: '8656.0'
                      latitude: '12.95921'
                      longitude: '77.52684'
                      name: Chandra Layout-Public Toilet - 1
                    - distance: '8656.0'
                      latitude: '12.95838'
                      longitude: '77.52644'
                      name: Chandra Layout-Public Toilet - 3
                    - distance: '8656.1'
                      latitude: '12.95924'
                      longitude: '77.52690'
                      name: Chandra Layout-Public Toilet - 2
                    type: Toilet
                    typeid: '196'
                  distance: '8656.0'
                  stationname: Chandra Layout 1st Stage
                - Arounds:
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/General%20Building.png
                    list:
                    - distance: '8656.1'
                      latitude: '13.01032'
                      longitude: '77.52514'
                      name: Laggere new bus stand-Apex bank
                    type: Bank
                    typeid: '189'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Clinic.png
                    list:
                    - distance: '8656.1'
                      latitude: '13.01027'
                      longitude: '77.52493'
                      name: Laggere new bus stand - Medical Store
                    type: Clinic
                    typeid: '191'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Hotel.png
                    list:
                    - distance: '8656.1'
                      latitude: '13.01043'
                      longitude: '77.52487'
                      name: Laggere New Bus Stand - S R S Mane Oota
                    type: Hotel
                    typeid: '158'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Medical%20Store.png
                    list:
                    - distance: '8656.1'
                      latitude: '13.01027'
                      longitude: '77.52494'
                      name: Laggere New Bus Stand - People Care Pharma
                    type: Medical Store
                    typeid: '194'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Pass%20Counter.png
                    list:
                    - distance: '8656.1'
                      latitude: '13.01047'
                      longitude: '77.52505'
                      name: Laggere New Bus Stand - BMTC Bus Pass Counter
                    type: Pass Counter
                    typeid: '195'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Toilet.png
                    list:
                    - distance: '8656.1'
                      latitude: '13.01035'
                      longitude: '77.52514'
                      name: Laggere New bus stand - Public Toilet
                    type: Toilet
                    typeid: '196'
                  distance: '8656.1'
                  stationname: Laggere New Bus Stand
                - Arounds:
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Ac%20lounge.png
                    list:
                    - distance: '8656.9'
                      latitude: '12.96545'
                      longitude: '77.53481'
                      name: Vijayanagara bus station - Airport Lounge
                    type: AC Lounge
                    typeid: '187'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/ATM.png
                    list:
                    - distance: '8657.0'
                      latitude: '12.96578'
                      longitude: '77.53503'
                      name: Vijayanagara bus station -Karnataka Bank ATM
                    type: ATM
                    typeid: '155'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Booking%20counter.png
                    list:
                    - distance: '8657.1'
                      latitude: '12.96532'
                      longitude: '77.53587'
                      name: Vijayanagara bus staton -KSRTC Booking Counter
                    type: Booking Counter
                    typeid: '190'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Funcation%20Hall.png
                    list:
                    - distance: '8656.9'
                      latitude: '12.96589'
                      longitude: '77.53458'
                      name: Vijayanagara bus stand -White Patals
                    type: Function Hall
                    typeid: '197'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Hotel.png
                    list:
                    - distance: '8656.9'
                      latitude: '12.96600'
                      longitude: '77.53470'
                      name: Vijayanagara bus station -Tasty Bites
                    type: Hotel
                    typeid: '158'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Ladies%20restroom.png
                    list:
                    - distance: '8656.9'
                      latitude: '12.96516'
                      longitude: '77.53452'
                      name: Vijayanagara - Women Waiting Lounge (Nirbhaya)
                    type: Ladies Restroom
                    typeid: '186'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Mall.png
                    list:
                    - distance: '8656.9'
                      latitude: '12.96585'
                      longitude: '77.53456'
                      name: Vijayanagara bus station -Relance Smart
                    type: Mall
                    typeid: '178'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Medical%20Store.png
                    list:
                    - distance: '8657.0'
                      latitude: '12.96579'
                      longitude: '77.53502'
                      name: Vijayanagara Bus Station - Medical Store
                    type: Medical Store
                    typeid: '194'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Parking.png
                    list:
                    - distance: '8656.9'
                      latitude: '12.96607'
                      longitude: '77.53477'
                      name: Vijayanagara bus station -Car-Bike Parking
                    type: Parking
                    typeid: '3'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Pass%20Counter.png
                    list:
                    - distance: '8656.9'
                      latitude: '12.96511'
                      longitude: '77.53440'
                      name: Vijayanagara bus station -BMTC Bus Pass Counter
                    type: Pass Counter
                    typeid: '195'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Toilet.png
                    list:
                    - distance: '8656.9'
                      latitude: '12.96544'
                      longitude: '77.53478'
                      name: Vijayanagara bus station -Public Toilet
                    type: Toilet
                    typeid: '196'
                  distance: '8656.9'
                  stationname: Vijayanagara Bus Stand
                - Arounds:
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/ATM.png
                    list:
                    - distance: '8656.9'
                      latitude: '12.98870'
                      longitude: '77.53352'
                      name: Basaveshwara Nagara Bus Station-Karnataka Bank ATM
                    - distance: '8656.9'
                      latitude: '12.99000'
                      longitude: '77.53354'
                      name: Basaveshwara Nagara Bus Station-Axis Bank ATM
                    type: ATM
                    typeid: '155'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Booking%20counter.png
                    list:
                    - distance: '8657.0'
                      latitude: '12.98838'
                      longitude: '77.53381'
                      name: Basaveshwara Nagara - KSRTC Booking Counter
                    type: Booking Counter
                    typeid: '190'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Hotel.png
                    list:
                    - distance: '8657.0'
                      latitude: '12.98859'
                      longitude: '77.53374'
                      name: Basaveshwara Nagara Bus Station-Hotel Bhavya
                    type: Hotel
                    typeid: '158'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Ladies%20restroom.png
                    list:
                    - distance: '8657.0'
                      latitude: '12.98854'
                      longitude: '77.53371'
                      name: BN BS - Waiting Lounge (Nirbhaya)
                    type: Ladies Restroom
                    typeid: '186'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Parking.png
                    list:
                    - distance: '8657.0'
                      latitude: '12.98851'
                      longitude: '77.53403'
                      name: Basaveshwara Nagara Bus Station-Car-Bike Parking
                    - distance: '8657.0'
                      latitude: '12.98859'
                      longitude: '77.53404'
                      name: Basaveshwara Nagara Bus Station-Bike-Cycle Parking
                    type: Parking
                    typeid: '3'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Pass%20Counter.png
                    list:
                    - distance: '8657.0'
                      latitude: '12.98839'
                      longitude: '77.53382'
                      name: BNBS-BMTC Bus Pass Counter
                    type: Pass Counter
                    typeid: '195'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Toilet.png
                    list:
                    - distance: '8656.9'
                      latitude: '12.98842'
                      longitude: '77.53342'
                      name: Basaveshwara Nagara Bus Station-Public Toilet - 1
                    - distance: '8656.9'
                      latitude: '12.98858'
                      longitude: '77.53334'
                      name: Basaveshwara Nagara Bus Station-Public Toilet -2
                    - distance: '8656.9'
                      latitude: '12.98868'
                      longitude: '77.53348'
                      name: Basaveshwara Nagara Bus Station-Public Toilet - 3
                    type: Toilet
                    typeid: '196'
                  distance: '8656.9'
                  stationname: Basaveshwaranagara New Bus Stand (Sharada Coliny)
                - Arounds:
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Drinking%20Water%20facility.png
                    list:
                    - distance: '8657.0'
                      latitude: '12.95916'
                      longitude: '77.53546'
                      name: R PC  Layout-Drinking Water
                    type: Drinking Water Facility
                    typeid: '188'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Hotel.png
                    list:
                    - distance: '8657.0'
                      latitude: '12.95905'
                      longitude: '77.53546'
                      name: R P C Layout-Vidyarthi Bhavana
                    type: Hotel
                    typeid: '158'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Pass%20Counter.png
                    list:
                    - distance: '8657.0'
                      latitude: '12.95894'
                      longitude: '77.53539'
                      name: R P C Layout-BMTC Bus Pass Counter
                    type: Pass Counter
                    typeid: '195'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Toilet.png
                    list:
                    - distance: '8657.0'
                      latitude: '12.95916'
                      longitude: '77.53545'
                      name: R P C Layout-Public Toilet
                    type: Toilet
                    typeid: '196'
                  distance: '8657.0'
                  stationname: Hampinagara RPC Layout
                - Arounds:
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Parking.png
                    list:
                    - distance: '8657.3'
                      latitude: '12.93398'
                      longitude: '77.53986'
                      name: Hoskerehalli Bus Station-Car-Bike Parking
                    type: Parking
                    typeid: '3'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Pass%20Counter.png
                    list:
                    - distance: '8657.3'
                      latitude: '12.93404'
                      longitude: '77.53962'
                      name: Hoskerehalli Bus Station-BMTC Bus Pass Counter
                    type: Pass Counter
                    typeid: '195'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Toilet.png
                    list:
                    - distance: '8657.3'
                      latitude: '12.93400'
                      longitude: '77.53962'
                      name: Hoskerehalli Bus Station-Public Toilet
                    type: Toilet
                    typeid: '196'
                  distance: '8657.3'
                  stationname: Hosakerehalli
                - Arounds:
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Hospital.png
                    list:
                    - distance: '8657.3'
                      latitude: '13.01085'
                      longitude: '77.53589'
                      name: Nandini layout bus stand - Namma Clinic BBMP
                    type: Hospital
                    typeid: '192'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Hotel.png
                    list:
                    - distance: '8657.3'
                      latitude: '13.01137'
                      longitude: '77.53574'
                      name: Nandini layout - Sri Ramnjenayya refreshment
                    type: Hotel
                    typeid: '158'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Pass%20Counter.png
                    list:
                    - distance: '8657.3'
                      latitude: '13.01144'
                      longitude: '77.53565'
                      name: Nandini layout bus stand-BMTC Bus Pass Counter
                    type: Pass Counter
                    typeid: '195'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Toilet.png
                    list:
                    - distance: '8657.3'
                      latitude: '13.01117'
                      longitude: '77.53572'
                      name: Nandini layout bus stand-Public Toilet
                    type: Toilet
                    typeid: '196'
                  distance: '8657.3'
                  stationname: Nandini Layout
                - Arounds:
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Hotel.png
                    list:
                    - distance: '8658.0'
                      latitude: '13.07984'
                      longitude: '77.53853'
                      name: Singapur Layout Bus Station -Vijayalakshmi Bhavana
                    type: Hotel
                    typeid: '158'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Parking.png
                    list:
                    - distance: '8658.0'
                      latitude: '13.08004'
                      longitude: '77.53831'
                      name: Singapur Layout Bus Station - Bike-Cycle Parking
                    type: Parking
                    typeid: '3'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Pass%20Counter.png
                    list:
                    - distance: '8658.0'
                      latitude: '13.07989'
                      longitude: '77.53865'
                      name: Singapur Layout - BMTC Bus Pass Counter
                    type: Pass Counter
                    typeid: '195'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Toilet.png
                    list:
                    - distance: '8658.0'
                      latitude: '13.08007'
                      longitude: '77.53845'
                      name: Singapur Layout Bus Station - Public Toilet
                    type: Toilet
                    typeid: '196'
                  distance: '8658.0'
                  stationname: Singapura Layout
                - Arounds:
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/ATM.png
                    list:
                    - distance: '8658.1'
                      latitude: '12.97740'
                      longitude: '77.54472'
                      name: Manuvana/Vijayanagara Hosahalli - Canara bank ATM
                    type: ATM
                    typeid: '155'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Medical%20Store.png
                    list:
                    - distance: '8658.1'
                      latitude: '12.97419'
                      longitude: '77.54471'
                      name: Manuvana/Vijayanagara Hosahalli -  Medical Store
                    type: Medical Store
                    typeid: '194'
                  distance: '8658.1'
                  stationname: Manuvana
                - Arounds:
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/ATM.png
                    list:
                    - distance: '8659.2'
                      latitude: '12.89966'
                      longitude: '77.55854'
                      name: ISRO Layout Bus Station-Karnataka Bank ATM
                    type: ATM
                    typeid: '155'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/General%20Building.png
                    list:
                    - distance: '8659.1'
                      latitude: '12.89921'
                      longitude: '77.55826'
                      name: ISRO Layout Bus Station-Bengaluru One
                    type: Bengaluru One
                    typeid: '199'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Mall.png
                    list:
                    - distance: '8659.1'
                      latitude: '12.89931'
                      longitude: '77.55816'
                      name: ISRO Layout Bus Station-Star Market
                    type: Mall
                    typeid: '178'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Parking.png
                    list:
                    - distance: '8659.1'
                      latitude: '12.89871'
                      longitude: '77.55803'
                      name: ISRO Layout Bus Station-Car-Bike Parking
                    type: Parking
                    typeid: '3'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Pass%20Counter.png
                    list:
                    - distance: '8659.1'
                      latitude: '12.89941'
                      longitude: '77.55795'
                      name: ISRO Layout Bus Station-BMTC Bus Pass Counter
                    type: Pass Counter
                    typeid: '195'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Toilet.png
                    list:
                    - distance: '8659.2'
                      latitude: '12.89959'
                      longitude: '77.55859'
                      name: ISRO Layout Bus Station-Public Toilet
                    type: Toilet
                    typeid: '196'
                  distance: '8659.2'
                  stationname: ISRO Layout
                - Arounds:
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/ATM.png
                    list:
                    - distance: '8659.1'
                      latitude: '12.92849'
                      longitude: '77.55691'
                      name: Channammanakere Achukattu BS-Karnataka Bank ATM
                    type: ATM
                    typeid: '155'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Hotel.png
                    list:
                    - distance: '8659.1'
                      latitude: '12.92853'
                      longitude: '77.55685'
                      name: Channammanakere Achukattu BS-Sri Krishna Bhavan
                    type: Hotel
                    typeid: '158'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Pass%20Counter.png
                    list:
                    - distance: '8659.1'
                      latitude: '12.92850'
                      longitude: '77.55692'
                      name: Channammanakere Achukattu BS-BMTC Bus Pass Counter
                    type: Pass Counter
                    typeid: '195'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Toilet.png
                    list:
                    - distance: '8659.2'
                      latitude: '12.92863'
                      longitude: '77.55707'
                      name: Channammanakere Achukattu BS-Public Toilet
                    type: Toilet
                    typeid: '196'
                  distance: '8659.1'
                  stationname: Channammanakere Achukattu
                - Arounds:
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/ATM.png
                    list:
                    - distance: '8659.5'
                      latitude: '12.90303'
                      longitude: '77.56177'
                      name: Kumara Swamy Layout-Karnataka Bank ATM
                    type: ATM
                    typeid: '155'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Hotel.png
                    list:
                    - distance: '8659.5'
                      latitude: '12.90298'
                      longitude: '77.56167'
                      name: Kumara Swamy Layout-Sri Krishna Upahara
                    type: Hotel
                    typeid: '158'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Pass%20Counter.png
                    list:
                    - distance: '8659.5'
                      latitude: '12.90310'
                      longitude: '77.56184'
                      name: Kumara Swamy Layout-BMTC Bus Pass Counter
                    type: Pass Counter
                    typeid: '195'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Toilet.png
                    list:
                    - distance: '8659.5'
                      latitude: '12.90305'
                      longitude: '77.56183'
                      name: Kumara Swamy Layout-Public Toilet
                    type: Toilet
                    typeid: '196'
                  distance: '8659.5'
                  stationname: Kumaraswamy Layout
                - Arounds:
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/ATM.png
                    list:
                    - distance: '8659.6'
                      latitude: '13.01798'
                      longitude: '77.55657'
                      name: Yeshwantapura bus station - Karnataka Bank ATM
                    type: ATM
                    typeid: '155'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Booking%20counter.png
                    list:
                    - distance: '8659.6'
                      latitude: '13.01841'
                      longitude: '77.55628'
                      name: Yeshwantapura bus station - KS TDC Booking Counter
                    type: Booking Counter
                    typeid: '190'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Clinic.png
                    list:
                    - distance: '8659.6'
                      latitude: '13.01696'
                      longitude: '77.55703'
                      name: Yeshwantapura bus station - Indira clinic
                    type: Clinic
                    typeid: '191'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Hotel.png
                    list:
                    - distance: '8659.5'
                      latitude: '13.01786'
                      longitude: '77.55622'
                      name: Yeshwantapura bus station - Punith fast food
                    - distance: '8659.6'
                      latitude: '13.01828'
                      longitude: '77.55620'
                      name: Yeshwantapura bus station - Annapurneshwari hotel
                    type: Hotel
                    typeid: '158'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Ladies%20restroom.png
                    list:
                    - distance: '8659.5'
                      latitude: '13.01786'
                      longitude: '77.55622'
                      name: Yeshwantapura - Waiting Lounge (Nirbhaya)
                    type: Ladies Restroom
                    typeid: '186'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Media.png
                    list:
                    - distance: '8659.6'
                      latitude: '13.01824'
                      longitude: '77.55672'
                      name: Yeshwantapura bus station - Public TV
                    type: Media
                    typeid: '193'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Medical%20Store.png
                    list:
                    - distance: '8659.6'
                      latitude: '13.01812'
                      longitude: '77.55647'
                      name: Yeshwantapura bus station - Medical Store
                    type: Medical Store
                    typeid: '194'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Parking.png
                    list:
                    - distance: '8659.5'
                      latitude: '13.01833'
                      longitude: '77.55617'
                      name: Yeshwantapura bus station - Car-Bike Parking
                    type: Parking
                    typeid: '3'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Pass%20Counter.png
                    list:
                    - distance: '8659.6'
                      latitude: '13.01795'
                      longitude: '77.55649'
                      name: Yeshwantapura bus station - BMTC Bus Pass Counter
                    type: Pass Counter
                    typeid: '195'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Toilet.png
                    list:
                    - distance: '8659.6'
                      latitude: '13.01838'
                      longitude: '77.55651'
                      name: Yeshwanthapura bus station  -  Public Toilet
                    - distance: '8660.5'
                      latitude: '13.17978'
                      longitude: '77.55651'
                      name: Yashwantapura bus station-Public Toilet
                    type: Toilet
                    typeid: '196'
                  distance: '8659.6'
                  stationname: Yeshwanthapura Bus Station
                - Arounds:
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Medical%20Store.png
                    list:
                    - distance: '8660.5'
                      latitude: '12.93799'
                      longitude: '77.56912'
                      name: NR Colony - Medical Store
                    type: Medical Store
                    typeid: '194'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Pass%20Counter.png
                    list:
                    - distance: '8660.5'
                      latitude: '12.93800'
                      longitude: '77.56915'
                      name: NR Colony-BMTC Bus Pass Counter
                    type: Pass Counter
                    typeid: '195'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Toilet.png
                    list:
                    - distance: '8660.5'
                      latitude: '12.93798'
                      longitude: '77.56908'
                      name: NR Colony-Public Toilet
                    type: Toilet
                    typeid: '196'
                  distance: '8660.5'
                  stationname: NR Colony
                - Arounds:
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/ATM.png
                    list:
                    - distance: '8660.4'
                      latitude: '13.08376'
                      longitude: '77.56051'
                      name: Vidyaranyapura Bus Station-Karnataka Bank ATM
                    type: ATM
                    typeid: '155'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Pass%20Counter.png
                    list:
                    - distance: '8661.0'
                      latitude: '13.08328'
                      longitude: '77.56609'
                      name: Vidyaranyapura Bus Station - BMTC Bus Pass Counter
                    type: Pass Counter
                    typeid: '195'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Restrooms.png
                    list:
                    - distance: '8660.4'
                      latitude: '13.08354'
                      longitude: '77.56082'
                      name: Vidyaranyapura BS-Gents & Ladies Rest Room
                    type: Restroom
                    typeid: '181'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Toilet.png
                    list:
                    - distance: '8660.4'
                      latitude: '13.08341'
                      longitude: '77.56055'
                      name: Vidyaranyapura Bus Station - Public Toilet
                    type: Toilet
                    typeid: '196'
                  distance: '8660.4'
                  stationname: Vidyaranyapura Bus Station
                - Arounds:
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/ATM.png
                    list:
                    - distance: '8660.6'
                      latitude: '12.80023'
                      longitude: '77.57684'
                      name: Bannerughatta Bus Station - Bank of Baroda
                    type: ATM
                    typeid: '155'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Hotel.png
                    list:
                    - distance: '8660.7'
                      latitude: '12.80039'
                      longitude: '77.57755'
                      name: Bannerughatta Bus Station - Annapoorna Hotel
                    type: Hotel
                    typeid: '158'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Ladies%20restroom.png
                    list:
                    - distance: '8660.7'
                      latitude: '12.80040'
                      longitude: '77.57757'
                      name: Bannerughatta - Women Waiting Lounge (Nirbhaya)
                    type: Ladies Restroom
                    typeid: '186'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Parking.png
                    list:
                    - distance: '8660.7'
                      latitude: '12.80039'
                      longitude: '77.57757'
                      name: Bannerughatta Bus Station - Car Parking
                    - distance: '8660.7'
                      latitude: '12.80039'
                      longitude: '77.57757'
                      name: Bannerughatta Bus Station - Bike/Cycle Parking
                    type: Parking
                    typeid: '3'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Toilet.png
                    list:
                    - distance: '8660.7'
                      latitude: '12.80050'
                      longitude: '77.57762'
                      name: Bannerughatta Bus Station - Public Toilet
                    type: Toilet
                    typeid: '196'
                  distance: '8660.6'
                  stationname: Bannerughatta National Park
                - Arounds:
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/ATM.png
                    list:
                    - distance: '8660.8'
                      latitude: '12.91746'
                      longitude: '77.57330'
                      name: Banashankari bus station -Indusland Bank
                    - distance: '8660.8'
                      latitude: '12.91743'
                      longitude: '77.57329'
                      name: Banashankari bus station  - Karnataka Bank ATM
                    type: ATM
                    typeid: '155'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Hotel.png
                    list:
                    - distance: '8660.8'
                      latitude: '12.91745'
                      longitude: '77.57330'
                      name: Banashankari bus station -Sri Krishna Bhavan
                    type: Hotel
                    typeid: '158'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Ladies%20restroom.png
                    list:
                    - distance: '8660.8'
                      latitude: '12.91746'
                      longitude: '77.57328'
                      name: Banashankari - Waiting Lounge (Nirbhaya) 2
                    - distance: '8660.8'
                      latitude: '12.91748'
                      longitude: '77.57300'
                      name: Banashankari - Waiting Lounge (Nirbhaya) 1
                    type: Ladies Restroom
                    typeid: '186'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Parking.png
                    list:
                    - distance: '8660.8'
                      latitude: '12.91725'
                      longitude: '77.57331'
                      name: Banashankari bus station -Car-Bike Parking
                    type: Parking
                    typeid: '3'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Pass%20Counter.png
                    list:
                    - distance: '8660.8'
                      latitude: '12.91747'
                      longitude: '77.57311'
                      name: Banashankari bus station -BMTC Bus Pass Counter
                    type: Pass Counter
                    typeid: '195'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/General%20Building.png
                    list:
                    - distance: '8660.8'
                      latitude: '12.91752'
                      longitude: '77.57292'
                      name: Banashankari bus station  - KSRTC Booking Counter
                    type: State Transport Booking Counter
                    typeid: '185'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Toilet.png
                    list:
                    - distance: '8660.8'
                      latitude: '12.91763'
                      longitude: '77.57301'
                      name: Banashankari bus station -Public Toilet
                    type: Toilet
                    typeid: '196'
                  distance: '8660.8'
                  stationname: Banashankari Bus Station
                - Arounds:
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Ac%20lounge.png
                    list:
                    - distance: '8661.1'
                      latitude: '12.97752'
                      longitude: '77.57248'
                      name: Kempegowda Bus Station-Airport Lounge
                    type: AC Lounge
                    typeid: '187'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/ATM.png
                    list:
                    - distance: '8661.1'
                      latitude: '12.97762'
                      longitude: '77.57227'
                      name: Kempegowda Bus Station-Karnataka Bank ATM
                    - distance: '8661.1'
                      latitude: '12.97764'
                      longitude: '77.57223'
                      name: Kempegowda Bus Station-Indusland Bank ATM
                    type: ATM
                    typeid: '155'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Drinking%20Water%20facility.png
                    list:
                    - distance: '8661.0'
                      latitude: '12.97825'
                      longitude: '77.57162'
                      name: Kempegowda Bus Station-Drinking Water -2
                    - distance: '8661.1'
                      latitude: '12.97847'
                      longitude: '77.57245'
                      name: Kempegowda Bus Station-Drinking Water -1
                    type: Drinking Water Facility
                    typeid: '188'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Hotel.png
                    list:
                    - distance: '8661.1'
                      latitude: '12.97784'
                      longitude: '77.57223'
                      name: Kempegowda Bus Station-Hotel Annapoorneshwari Veg
                    type: Hotel
                    typeid: '158'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Ladies%20restroom.png
                    list:
                    - distance: '8661.1'
                      latitude: '12.97787'
                      longitude: '77.57236'
                      name: Kempegowda Bus Station - Waiting Lounge (Nirbhaya)
                    type: Ladies Restroom
                    typeid: '186'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Medical%20Store.png
                    list:
                    - distance: '8661.1'
                      latitude: '12.97789'
                      longitude: '77.57256'
                      name: Kempegowda Bus Station-Dava Dost
                    type: Medical Store
                    typeid: '194'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Parking.png
                    list:
                    - distance: '8661.1'
                      latitude: '12.97723'
                      longitude: '77.57283'
                      name: Kempegowda Bus Station-Car-Bike Parking
                    type: Parking
                    typeid: '3'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Pass%20Counter.png
                    list:
                    - distance: '8661.1'
                      latitude: '12.97765'
                      longitude: '77.57251'
                      name: Kempegowda Bus Station-BMTC Bus Pass Counter
                    type: Pass Counter
                    typeid: '195'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Toilet.png
                    list:
                    - distance: '8660.9'
                      latitude: '12.97781'
                      longitude: '77.57107'
                      name: Kempegowda Bus Station-Public Toilet - 1
                    - distance: '8661.0'
                      latitude: '12.97832'
                      longitude: '77.57163'
                      name: Kempegowda Bus Station-Public Toilet - 2
                    - distance: '8661.1'
                      latitude: '12.97850'
                      longitude: '77.57286'
                      name: Kempegowda Bus Station-Public Toilet - 3
                    - distance: '8661.1'
                      latitude: '12.97768'
                      longitude: '77.57265'
                      name: Kempegowda Bus Station-Public Toilet - 5
                    - distance: '8661.2'
                      latitude: '12.97785'
                      longitude: '77.57343'
                      name: Kempegowda Bus Station-Public Toilet - 4
                    type: Toilet
                    typeid: '196'
                  distance: '8661.1'
                  stationname: Kempegowda Bus Station(Majestic/KBS)
                - Arounds:
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/ATM.png
                    list:
                    - distance: '8661.8'
                      latitude: '13.10576'
                      longitude: '77.57274'
                      name: Yelahanka 5th Phase - Axis Bank ATM
                    type: ATM
                    typeid: '155'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/General%20Building.png
                    list:
                    - distance: '8661.8'
                      latitude: '13.10575'
                      longitude: '77.57284'
                      name: Yelahanka 5th Phase-Bengaluru One
                    type: Bengaluru One
                    typeid: '199'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Drinking%20Water%20facility.png
                    list:
                    - distance: '8661.8'
                      latitude: '13.10578'
                      longitude: '77.57268'
                      name: Yelahanka 5th Phase - Drinking Water
                    type: Drinking Water Facility
                    typeid: '188'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Hotel.png
                    list:
                    - distance: '8661.8'
                      latitude: '13.10576'
                      longitude: '77.57272'
                      name: Yelahanka 5th Phase - Hotel Krishna
                    type: Hotel
                    typeid: '158'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Pass%20Counter.png
                    list:
                    - distance: '8661.9'
                      latitude: '13.10567'
                      longitude: '77.57310'
                      name: Yelahanka 5th Phase - BMTC Bus Pass Counter
                    type: Pass Counter
                    typeid: '195'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Toilet.png
                    list:
                    - distance: '8661.8'
                      latitude: '13.10620'
                      longitude: '77.57235'
                      name: Yelahanka 5th Phase - Public Toilet
                    type: Toilet
                    typeid: '196'
                  distance: '8661.8'
                  stationname: Yelahanka New Town 5th Phase
                - Arounds:
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Ac%20lounge.png
                    list:
                    - distance: '8662.1'
                      latitude: '12.92853'
                      longitude: '77.58462'
                      name: Jayanagara bus stand - Airport Lounge
                    type: AC Lounge
                    typeid: '187'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/ATM.png
                    list:
                    - distance: '8662.1'
                      latitude: '12.92852'
                      longitude: '77.58391'
                      name: Jayanagara bus stand - Karnataka Bank ATM
                    type: ATM
                    typeid: '155'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Booking%20counter.png
                    list:
                    - distance: '8662.0'
                      latitude: '12.92814'
                      longitude: '77.58363'
                      name: Jayanagara bus stand - KSRTC Booking Counter
                    type: Booking Counter
                    typeid: '190'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Hotel.png
                    list:
                    - distance: '8662.1'
                      latitude: '12.92811'
                      longitude: '77.58430'
                      name: Jayanagara bus stand - Desi Masala
                    type: Hotel
                    typeid: '158'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Ladies%20restroom.png
                    list:
                    - distance: '8662.1'
                      latitude: '12.92862'
                      longitude: '77.58476'
                      name: Jayanagara bus station -Waiting Lounge (Nirbhaya)
                    type: Ladies Restroom
                    typeid: '186'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Mall.png
                    list:
                    - distance: '8662.1'
                      latitude: '12.92959'
                      longitude: '77.58459'
                      name: Jayanagara - Shoping Complex
                    type: Mall
                    typeid: '178'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Medical%20Store.png
                    list:
                    - distance: '8662.2'
                      latitude: '12.92861'
                      longitude: '77.58485'
                      name: Jayanagara bus stand - Medical store
                    type: Medical Store
                    typeid: '194'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Parking.png
                    list:
                    - distance: '8662.2'
                      latitude: '12.92882'
                      longitude: '77.58516'
                      name: Jayanagara bus stand - Car Parking
                    - distance: '8662.2'
                      latitude: '12.92882'
                      longitude: '77.58516'
                      name: Jayanagara bus stand - Bike Parking
                    type: Parking
                    typeid: '3'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Pass%20Counter.png
                    list:
                    - distance: '8662.1'
                      latitude: '12.92862'
                      longitude: '77.58477'
                      name: Jayanagara bus stand - BMTC Bus Pass Counter
                    type: Pass Counter
                    typeid: '195'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Toilet.png
                    list:
                    - distance: '8662.0'
                      latitude: '12.92814'
                      longitude: '77.58363'
                      name: Jayanagara bus stand - Public Toilet - 1
                    - distance: '8662.1'
                      latitude: '12.92853'
                      longitude: '77.58460'
                      name: Jayanagara bus stand - Public Toilet - 2
                    type: Toilet
                    typeid: '196'
                  distance: '8662.1'
                  stationname: Jayanagara Bus Stand
                - Arounds:
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Booking%20counter.png
                    list:
                    - distance: '8662.5'
                      latitude: '13.09559'
                      longitude: '77.57929'
                      name: Yelahanka Satellite Town - KSRTC Booking Counter
                    type: Booking Counter
                    typeid: '190'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Drinking%20Water%20facility.png
                    list:
                    - distance: '8662.4'
                      latitude: '13.09572'
                      longitude: '77.57904'
                      name: Yelahanka Satellite Town - Drinking Water
                    type: Drinking Water Facility
                    typeid: '188'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Ladies%20restroom.png
                    list:
                    - distance: '8662.5'
                      latitude: '13.09560'
                      longitude: '77.57919'
                      name: Yelahanka Satellite Town-Waiting Lounge (Nirbhaya)
                    type: Ladies Restroom
                    typeid: '186'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Pass%20Counter.png
                    list:
                    - distance: '8662.4'
                      latitude: '13.09558'
                      longitude: '77.57865'
                      name: Yelahanka Satellite Town - BMTC Bus Pass Counter
                    type: Pass Counter
                    typeid: '195'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Toilet.png
                    list:
                    - distance: '8662.4'
                      latitude: '13.09588'
                      longitude: '77.57880'
                      name: Yelahanka Satellite Town - Public Toilet
                    type: Toilet
                    typeid: '196'
                  distance: '8662.5'
                  stationname: Yelahanka Satellite Town
                - Arounds:
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Ac%20lounge.png
                    list:
                    - distance: '8663.1'
                      latitude: '12.95424'
                      longitude: '77.59251'
                      name: Shanthinagara bus station - Airport Lounge
                    type: AC Lounge
                    typeid: '187'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/ATM.png
                    list:
                    - distance: '8663.1'
                      latitude: '12.95540'
                      longitude: '77.59179'
                      name: Shanthinagara Bus Station - SBI ATM
                    - distance: '8663.2'
                      latitude: '12.95478'
                      longitude: '77.59289'
                      name: Shanthinagara Bus Station - Karnataka Bank ATM 2
                    - distance: '8663.2'
                      latitude: '12.95479'
                      longitude: '77.59292'
                      name: Shanthinagara bus stand - Karnataka Bank ATM 1
                    type: ATM
                    typeid: '155'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Hotel.png
                    list:
                    - distance: '8663.1'
                      latitude: '12.95517'
                      longitude: '77.59242'
                      name: Vishnubhavan Hotel
                    - distance: '8663.2'
                      latitude: '12.95457'
                      longitude: '77.59310'
                      name: A2B Hotel
                    type: Hotel
                    typeid: '158'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Ladies%20restroom.png
                    list:
                    - distance: '8663.1'
                      latitude: '12.95423'
                      longitude: '77.59266'
                      name: Shanthinagara - Women Waiting Lounge (Nirbhaya)
                    type: Ladies Restroom
                    typeid: '186'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Lodge.png
                    list:
                    - distance: '8663.1'
                      latitude: '12.95438'
                      longitude: '77.59229'
                      name: Shanthinagara bus stand  - Brundhavan A/C lodge
                    type: Lodge
                    typeid: '198'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Medical%20Store.png
                    list:
                    - distance: '8663.1'
                      latitude: '12.95424'
                      longitude: '77.59238'
                      name: Shanthinagara bus stand - Medical store
                    type: Medical Store
                    typeid: '194'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Parking.png
                    list:
                    - distance: '8663.1'
                      latitude: '12.95416'
                      longitude: '77.59185'
                      name: Shanthinagara - Multi Level Bike/Car Parking
                    - distance: '8663.1'
                      latitude: '12.95412'
                      longitude: '77.59221'
                      name: Shanthinagara bus station - Parking 2
                    type: Parking
                    typeid: '3'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Pass%20Counter.png
                    list:
                    - distance: '8663.1'
                      latitude: '12.95597'
                      longitude: '77.59257'
                      name: Shanthinagara bus stand - BMTC Bus Pass Counter
                    - distance: '8663.2'
                      latitude: '12.95417'
                      longitude: '77.59275'
                      name: Shanthinagara bus stand - Student Pass Counter
                    type: Pass Counter
                    typeid: '195'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Restaurant.png
                    list:
                    - distance: '8663.1'
                      latitude: '12.95439'
                      longitude: '77.59231'
                      name: Shanthinagara bus stand - Hotel Annapoorna
                    - distance: '8663.1'
                      latitude: '12.95419'
                      longitude: '77.59229'
                      name: Shanthinagara bus stand - Hotel Swathi Deluxe
                    type: Restaurant
                    typeid: '157'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/General%20Building.png
                    list:
                    - distance: '8663.1'
                      latitude: '12.95597'
                      longitude: '77.59257'
                      name: Shanthinagara bus station - KSR TC Booking Counter
                    - distance: '8663.2'
                      latitude: '12.95426'
                      longitude: '77.59279'
                      name: Shanthinagara - TNRTC-SETC Booking Counter
                    - distance: '8663.2'
                      latitude: '12.95422'
                      longitude: '77.59278'
                      name: Shanthinagara - Kerala State Bus Booking Counter
                    type: State Transport Booking Counter
                    typeid: '185'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Toilet.png
                    list:
                    - distance: '8663.1'
                      latitude: '12.95380'
                      longitude: '77.59257'
                      name: Shanthinagara bus stand - Toilet 1
                    - distance: '8663.1'
                      latitude: '12.95411'
                      longitude: '77.59213'
                      name: Shanthinagara  bus station - Toilet 2
                    type: Toilet
                    typeid: '196'
                  distance: '8663.1'
                  stationname: Shanthinagara Bus Stand
                - Arounds:
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/ATM.png
                    list:
                    - distance: '8660.9'
                      latitude: '13.00883'
                      longitude: '77.56881'
                      name: Malleshwaram bus station - Kotak Mahindra ATM
                    - distance: '8660.9'
                      latitude: '13.00858'
                      longitude: '77.56920'
                      name: Malleshwaram bus station - Canara ATM
                    - distance: '8667.7'
                      latitude: '12.77964'
                      longitude: '77.64314'
                      name: Jigani APC Circle - Kotak Mahindra Bank ATM
                    type: ATM
                    typeid: '155'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/General%20Building.png
                    list:
                    - distance: '8660.9'
                      latitude: '13.00883'
                      longitude: '77.56882'
                      name: Malleshwaram bus station - Kotak Mahindra bank
                    - distance: '8660.9'
                      latitude: '13.00858'
                      longitude: '77.56920'
                      name: Malleshwaram bus station - Canara bank
                    type: Bank
                    typeid: '189'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Booking%20counter.png
                    list:
                    - distance: '8660.9'
                      latitude: '13.00868'
                      longitude: '77.56876'
                      name: Malleshwaram - KSRTC Booking Counter
                    type: Booking Counter
                    typeid: '190'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Hospital.png
                    list:
                    - distance: '8660.9'
                      latitude: '13.00862'
                      longitude: '77.56882'
                      name: Malleshwaram bus station - Narayana hospital
                    type: Hospital
                    typeid: '192'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Hotel.png
                    list:
                    - distance: '8660.9'
                      latitude: '13.00862'
                      longitude: '77.56882'
                      name: Malleshwaram bus station - Avva mudde mane
                    - distance: '8667.7'
                      latitude: '12.77943'
                      longitude: '77.64321'
                      name: Jigani APC Circle - Samruddhi Grand
                    type: Hotel
                    typeid: '158'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Medical%20Store.png
                    list:
                    - distance: '8660.9'
                      latitude: '13.00903'
                      longitude: '77.56914'
                      name: Malleshwaram bus station - medical store
                    - distance: '8667.7'
                      latitude: '12.77964'
                      longitude: '77.64314'
                      name: Jigani APC Circle - Medical Store
                    type: Medical Store
                    typeid: '194'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Pass%20Counter.png
                    list:
                    - distance: '8660.9'
                      latitude: '13.00877'
                      longitude: '77.56879'
                      name: Malleshwaram bus station - BMTC Bus Pass Counter
                    - distance: '8667.7'
                      latitude: '12.77976'
                      longitude: '77.64324'
                      name: Jigani APC Circle - BMTC Bus Pass Counter
                    type: Pass Counter
                    typeid: '195'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Toilet.png
                    list:
                    - distance: '8667.7'
                      latitude: '12.78002'
                      longitude: '77.64316'
                      name: Jigani APC Circle - Public Toilet
                    type: Toilet
                    typeid: '196'
                  distance: '8660.9'
                  stationname: Malleshwaram Bus Stand
                - Arounds:
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/ATM.png
                    list:
                    - distance: '8664.2'
                      latitude: '13.10095'
                      longitude: '77.59452'
                      name: Yelahanka Old Town - Axis Bank ATM
                    type: ATM
                    typeid: '155'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Drinking%20Water%20facility.png
                    list:
                    - distance: '8664.1'
                      latitude: '13.10250'
                      longitude: '77.59391'
                      name: Yelahanka Old Town - Drinking Water
                    type: Drinking Water Facility
                    typeid: '188'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Ladies%20restroom.png
                    list:
                    - distance: '8664.2'
                      latitude: '13.10096'
                      longitude: '77.59465'
                      name: Yelahanka Old Town-Waiting Lounge (Nirbhaya) 2
                    - distance: '8664.2'
                      latitude: '13.10096'
                      longitude: '77.59461'
                      name: Yelahanka Old Town - Waiting Lounge (Nirbhaya) 1
                    type: Ladies Restroom
                    typeid: '186'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Lodge.png
                    list:
                    - distance: '8664.2'
                      latitude: '13.10038'
                      longitude: '77.59453'
                      name: Yelahanka Old Town - Nirashrethara Seva Kendra
                    type: Lodge
                    typeid: '198'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Pass%20Counter.png
                    list:
                    - distance: '8664.2'
                      latitude: '13.10097'
                      longitude: '77.59468'
                      name: Yelahanka Old Town - BMTC Bus Pass Counter
                    type: Pass Counter
                    typeid: '195'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Toilet.png
                    list:
                    - distance: '8664.2'
                      latitude: '13.10102'
                      longitude: '77.59458'
                      name: Yelahanka Old Town - Public Toilet
                    type: Toilet
                    typeid: '196'
                  distance: '8664.2'
                  stationname: Yelahanka
                - Arounds:
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/ATM.png
                    list:
                    - distance: '8664.4'
                      latitude: '12.98363'
                      longitude: '77.60317'
                      name: Shivajinagara Bus Station-Indusind Bank ATM
                    - distance: '8664.5'
                      latitude: '12.98399'
                      longitude: '77.60339'
                      name: Shivajinagara Bus Station-Karnataka Bank ATM
                    type: ATM
                    typeid: '155'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Booking%20counter.png
                    list:
                    - distance: '8664.5'
                      latitude: '12.98346'
                      longitude: '77.60334'
                      name: Shivajinagara Bus Station-KSRTC Booking Counter
                    type: Booking Counter
                    typeid: '190'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Drinking%20Water%20facility.png
                    list:
                    - distance: '8664.4'
                      latitude: '12.98332'
                      longitude: '77.60255'
                      name: Shivajinagara Bus Station-Drinking Water
                    type: Drinking Water Facility
                    typeid: '188'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Ladies%20restroom.png
                    list:
                    - distance: '8664.4'
                      latitude: '12.98299'
                      longitude: '77.60308'
                      name: Shivajinagara - Women Waiting Lounge(Nirbhaya)
                    type: Ladies Restroom
                    typeid: '186'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Medical%20Store.png
                    list:
                    - distance: '8664.5'
                      latitude: '12.98384'
                      longitude: '77.60345'
                      name: Shivajinagara Bus Station - Medical Store
                    type: Medical Store
                    typeid: '194'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Parking.png
                    list:
                    - distance: '8664.4'
                      latitude: '12.98296'
                      longitude: '77.60307'
                      name: Shivajinagara Bus Station-Car-Bike Parking
                    type: Parking
                    typeid: '3'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Pass%20Counter.png
                    list:
                    - distance: '8664.5'
                      latitude: '12.98217'
                      longitude: '77.60369'
                      name: Shivajinagara Bus Station-BMTC Bus Pass Counter
                    type: Pass Counter
                    typeid: '195'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Toilet.png
                    list:
                    - distance: '8664.4'
                      latitude: '12.98341'
                      longitude: '77.60267'
                      name: Shivajinagara Bus Station-Public Toilet-2
                    - distance: '8664.5'
                      latitude: '12.98344'
                      longitude: '77.60335'
                      name: Shivajinagara Bus Station-Public Toilet-1
                    - distance: '8664.5'
                      latitude: '12.98331'
                      longitude: '77.60331'
                      name: Shivajinagara Bus Station-Public Toilet-3
                    type: Toilet
                    typeid: '196'
                  distance: '8664.4'
                  stationname: Shivajinagara Bus Station
                - Arounds:
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/ATM.png
                    list:
                    - distance: '8665.2'
                      latitude: '13.01972'
                      longitude: '77.60789'
                      name: Kaval Byrasandra-Axis Bank ATM
                    type: ATM
                    typeid: '155'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/General%20Building.png
                    list:
                    - distance: '8665.1'
                      latitude: '13.01976'
                      longitude: '77.60716'
                      name: Kaval Byrasandra-Bengaluru One
                    type: Bengaluru One
                    typeid: '199'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Drinking%20Water%20facility.png
                    list:
                    - distance: '8665.1'
                      latitude: '13.01982'
                      longitude: '77.60750'
                      name: Kaval Byrasandra-Drinking Water
                    type: Drinking Water Facility
                    typeid: '188'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Pass%20Counter.png
                    list:
                    - distance: '8665.1'
                      latitude: '13.01989'
                      longitude: '77.60776'
                      name: Kaval Byrasandra-BMTC Bus Pass Counter
                    type: Pass Counter
                    typeid: '195'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Toilet.png
                    list:
                    - distance: '8665.1'
                      latitude: '13.01987'
                      longitude: '77.60770'
                      name: Kaval Byrasandra-Public Toilet
                    type: Toilet
                    typeid: '196'
                  distance: '8665.2'
                  stationname: Kaval Byrasandra
                - Arounds:
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Hotel.png
                    list:
                    - distance: '8666.6'
                      latitude: '12.94081'
                      longitude: '77.62490'
                      name: Koramangala bus station -Go Andhra Veg & Non Veg
                    type: Hotel
                    typeid: '158'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Parking.png
                    list:
                    - distance: '8666.5'
                      latitude: '12.94087'
                      longitude: '77.62457'
                      name: Koramangala  bus station-Car Parking
                    type: Parking
                    typeid: '3'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Pass%20Counter.png
                    list:
                    - distance: '8666.5'
                      latitude: '12.94116'
                      longitude: '77.62471'
                      name: Koramangala  bus station -BMTC Bus Pass Counter
                    type: Pass Counter
                    typeid: '195'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Toilet.png
                    list:
                    - distance: '8666.6'
                      latitude: '12.94108'
                      longitude: '77.62490'
                      name: Koramangala  bus station -Public Toilet
                    type: Toilet
                    typeid: '196'
                  distance: '8666.6'
                  stationname: Koramangala Bus Stand
                - Arounds:
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Booking%20counter.png
                    list:
                    - distance: '8668.2'
                      latitude: '12.96189'
                      longitude: '77.63859'
                      name: Domlur bus station -KSRTC Booking Counter
                    type: Booking Counter
                    typeid: '190'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Ladies%20restroom.png
                    list:
                    - distance: '8668.2'
                      latitude: '12.96159'
                      longitude: '77.63915'
                      name: Domlur - Waiting Lounge (Nirbhaya) 2
                    - distance: '8668.2'
                      latitude: '12.96161'
                      longitude: '77.63912'
                      name: Domlur - Waiting Lounge (Nirbhaya) 1
                    type: Ladies Restroom
                    typeid: '186'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Parking.png
                    list:
                    - distance: '8668.1'
                      latitude: '12.96186'
                      longitude: '77.63852'
                      name: Domlur bus station -Car-Bike Parking
                    type: Parking
                    typeid: '3'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Pass%20Counter.png
                    list:
                    - distance: '8668.2'
                      latitude: '12.96187'
                      longitude: '77.63865'
                      name: Domlur bus station -BMTC Bus Pass Counter
                    type: Pass Counter
                    typeid: '195'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Toilet.png
                    list:
                    - distance: '8668.2'
                      latitude: '12.96184'
                      longitude: '77.63890'
                      name: Domlur bus station -Public Toilet
                    type: Toilet
                    typeid: '196'
                  distance: '8668.2'
                  stationname: Dommaluru Bus Stand
                - Arounds:
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Booking%20counter.png
                    list:
                    - distance: '8670.3'
                      latitude: '12.96859'
                      longitude: '77.65784'
                      name: Jeevan Bheema Nagara-KSRTC Booking Counter
                    type: Booking Counter
                    typeid: '190'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Ladies%20restroom.png
                    list:
                    - distance: '8670.2'
                      latitude: '12.96565'
                      longitude: '77.65765'
                      name: Jeevan Bheema Nagara - Waiting Lounge (Nirbhaya)
                    type: Ladies Restroom
                    typeid: '186'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Pass%20Counter.png
                    list:
                    - distance: '8670.3'
                      latitude: '12.96583'
                      longitude: '77.65788'
                      name: Jeevan Bheema Nagara-BMTC Bus Pass Counter
                    type: Pass Counter
                    typeid: '195'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Toilet.png
                    list:
                    - distance: '8670.3'
                      latitude: '12.96559'
                      longitude: '77.65829'
                      name: Jeevan Bheema Nagara-Public Toilet
                    type: Toilet
                    typeid: '196'
                  distance: '8670.3'
                  stationname: Jeevanbheema Nagara
                - Arounds:
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/ATM.png
                    list:
                    - distance: '8671.0'
                      latitude: '12.84892'
                      longitude: '77.67034'
                      name: Electronic city Bus Station - Canara Bank ATM
                    - distance: '8671.1'
                      latitude: '12.84757'
                      longitude: '77.67138'
                      name: Electronic city - Karnataka Bank ATM
                    type: ATM
                    typeid: '155'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Booking%20counter.png
                    list:
                    - distance: '8671.2'
                      latitude: '12.84680'
                      longitude: '77.67206'
                      name: Electronic city - KSRTC Booking Counter
                    type: Booking Counter
                    typeid: '190'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Hotel.png
                    list:
                    - distance: '8671.1'
                      latitude: '12.84753'
                      longitude: '77.67138'
                      name: Electronic city Bus Station-Ruchi Sagar
                    type: Hotel
                    typeid: '158'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Pass%20Counter.png
                    list:
                    - distance: '8671.2'
                      latitude: '12.84681'
                      longitude: '77.67210'
                      name: Electronic City - BMTC Bus Pass Counter
                    type: Pass Counter
                    typeid: '195'
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Toilet.png
                    list:
                    - distance: '8671.0'
                      latitude: '12.84706'
                      longitude: '77.67040'
                      name: Electronic City Bus Station - Public Toilet
                    - distance: '8671.0'
                      latitude: '12.84698'
                      longitude: '77.67101'
                      name: Electronic city Bus Station-E Toilet
                    type: Toilet
                    typeid: '196'
                  distance: '8671.0'
                  stationname: Electronic City
                - Arounds:
                  - icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Ladies%20restroom.png
                    list:
                    - distance: '8677.8'
[...]
