openapi: 3.0.0
info:
  title: Nimmbus API
  version: 1.0
servers:
  - url: https://bmtcmobileapistaging.amnex.com/WebAPI
    description: API used by the Nimmbus app developed by BMTC
paths:
  /GetAllRouteList:
    post:
      summary: Get all routes
      tags: routes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        routeid:
                          type: number
                        routeno:
                          type: string
                        routename:
                          type: string
                        fromstationid:
                          type: number
                        fromstation:
                          type: string
                        tostationid:
                          type: number
                        tostation:
                          type: string
                        responsecode:
                          type: number
                  Message:
                    type: string
                  Issuccess:
                    type: boolean
                  exception:
                    type: object
                  RowCount:
                    type: number
                  responsecode:
                    type: number
              example:
                data:
                  - routeid: 1657
                    routeno: 89-C UP
                    routename: KBS-CVN
                    fromstationid: 20921
                    fromstation: Kempegowda Bus Station
                    tostationid: 32209
                    tostation: Cauvery Nagara
                    responsecode: 200
                  - routeid: 1658
                    routeno: 89-C DOWN
                    routename: CVN-KBS
                    fromstationid: 24379
                    fromstation: Cauvery Nagara
                    tostationid: 20922
                    tostation: Kempegowda Bus Station
                    responsecode: 200
                  - routeid: 1659
                    routeno: 333-E UP
                    routename: KBS-KDG
                    fromstationid: 20921
                    fromstation: Kempegowda Bus Station
                    tostationid: 20902
                    tostation: Kadugodi Bus Station
                    responsecode: 200
                  - routeid: 1660
                    routeno: 333-E DOWN
                    routename: KDG-KBS
                    fromstationid: 20902
                    fromstation: Kadugodi Bus Station
                    tostationid: 20922
                    tostation: Kempegowda Bus Station
                    responsecode: 200
                  - routeid: 1661
                    routeno: D3-SNBS DOWN
                    routename: SNBS-D3
                    fromstationid: 21167
                    fromstation: Shanthinagara TTMC
                    tostationid: 23652
                    tostation: Depot-3 Shanthinagara
                    responsecode: 200
                  - routeid: 1662
                    routeno: D3-SNBS UP
                    routename: D3-SNBS
                    fromstationid: 23652
                    fromstation: Depot-3 Shanthinagara
                    tostationid: 21166
                    tostation: Shanthinagara TTMC
                    responsecode: 200
                  - routeid: 1663
                    routeno: KBS-3A UP
                    routename: KBS-ATB
                    fromstationid: 20921
                    fromstation: Kempegowda Bus Station
                    tostationid: 21670
                    tostation: Attibele Bus Stand
                    responsecode: 200
                  - routeid: 1664
                    routeno: 129 UP
                    routename: KBS-SBS
                    fromstationid: 20921
                    fromstation: Kempegowda Bus Station
                    tostationid: 21173
                    tostation: Shivajinagara Bus Station
                    responsecode: 200
                  - routeid: 1665
                    routeno: KBS-3A DOWN
                    routename: ATB-KBS
                    fromstationid: 21673
                    fromstation: Attibele Bus Stand
                    tostationid: 20922
                    tostation: Kempegowda Bus Station
                    responsecode: 200
                  - routeid: 1666
                    routeno: 13 UP
                    routename: SBS-BSK
                    fromstationid: 21172
                    fromstation: Shivajinagara Bus Station
                    tostationid: 20624
                    tostation: Banashankari TTMC
                    responsecode: 200
                    Message: Success
                    Issuccess: true
                    exception:
                      RowCount: 8701
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties: {}
            example: {}
  /NearbyStations_v2:
    post:
      summary: Find bus stops near location
      tags: stops
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        rowno:
                          type: number
                        geofenceid:
                          type: number
                        geofencename:
                          type: string
                        center_lat:
                          type: number
                        center_lon:
                          type: number
                        towards:
                          type: string
                        distance:
                          type: number
                        totalminute:
                          type: number
                        responsecode:
                          type: number
                        radiuskm:
                          type: number
                  Message:
                    type: string
                  Issuccess:
                    type: boolean
                  exception:
                    type: object
                  RowCount:
                    type: number
                  responsecode:
                    type: number
              example:
                data:
                  - rowno: 1
                    geofenceid: 23354
                    geofencename: Shivananda Store
                    center_lat: 12.98755
                    center_lon: 77.58039
                    towards: Ananda Rao Circle
                    distance: 0.12
                    totalminute: 1
                    responsecode: 200
                    radiuskm: 1
                  - rowno: 2
                    geofenceid: 21175
                    geofencename: Shivananda Store
                    center_lat: 12.98735
                    center_lon: 77.58022
                    towards: Rajmahal Guttahalli
                    distance: 0.13
                    totalminute: 2
                    responsecode: 200
                    radiuskm: 1
                  - rowno: 3
                    geofenceid: 24239
                    geofencename: Shivananda Store
                    center_lat: 12.98676
                    center_lon: 77.57951
                    towards: RC College
                    distance: 0.17
                    totalminute: 2
                    responsecode: 200
                    radiuskm: 1
                  - rowno: 4
                    geofenceid: 21174
                    geofencename: Shivananda Store
                    center_lat: 12.98663
                    center_lon: 77.57936
                    towards: Kempegowda Bus Station
                    distance: 0.18
                    totalminute: 2
                    responsecode: 200
                    radiuskm: 1
                  - rowno: 5
                    geofenceid: 28295
                    geofencename: Swastik Sheshadripuram
                    center_lat: 12.98784
                    center_lon: 77.57449
                    towards: Central
                    distance: 0.55
                    totalminute: 7
                    responsecode: 200
                    radiuskm: 1
                  - rowno: 6
                    geofenceid: 26913
                    geofencename: The Lalit Ashok Kumarkrupa Road
                    center_lat: 12.99201
                    center_lon: 77.58312
                    towards: R M Guttahalli
                    distance: 0.57
                    totalminute: 7
                    responsecode: 200
                    radiuskm: 1
                  - rowno: 7
                    geofenceid: 26782
                    geofencename: Swastik Sheshadripuram College
                    center_lat: 12.98851
                    center_lon: 77.57414
                    towards: Ananda Rao Circle
                    distance: 0.58
                    totalminute: 7
                    responsecode: 200
                    radiuskm: 1
                  - rowno: 8
                    geofenceid: 35303
                    geofencename: Swastik Sheshadripuram College
                    center_lat: 12.98798
                    center_lon: 77.57422
                    towards: Central
                    distance: 0.58
                    totalminute: 7
                    responsecode: 200
                    radiuskm: 1
                  - rowno: 9
                    geofenceid: 35073
                    geofencename: Swastik Sheshadripuram College
                    center_lat: 12.98916
                    center_lon: 77.57416
                    towards: Shivananda Circle
                    distance: 0.59
                    totalminute: 7
                    responsecode: 200
                    radiuskm: 1
                  - rowno: 10
                    geofenceid: 20938
                    geofencename: KPCC Office
                    center_lat: 12.98287
                    center_lon: 77.57642
                    towards: Shivananda Circle
                    distance: 0.69
                    totalminute: 8
                    responsecode: 200
                    radiuskm: 1
                    Message: Success
                    Issuccess: true
                    exception:
                      RowCount: 10
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                latitude:
                  type: number
                longitude:
                  type: number
            example:
              latitude: 12.988261907219739
              longitude: 77.57952690124513
  /FindNearByBusStop_v2:
    post:
      summary: Find bus stops matching given name
      tags: stops
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        srno:
                          type: number
                        routeno:
                          type: string
                        routeid:
                          type: number
                        center_lat:
                          type: number
                        center_lon:
                          type: number
                        responsecode:
                          type: number
                        routetypeid:
                          type: string
                        routename:
                          type: string
                        route:
                          type: string
                  Message:
                    type: string
                  Issuccess:
                    type: boolean
                  exception:
                    type: object
                  RowCount:
                    type: number
                  responsecode:
                    type: number
              example:
                data:
                  - srno: 2361
                    routeno: ''
                    routeid: 34303
                    center_lat: 0
                    center_lon: 0
                    responsecode: 200
                    routetypeid: '2'
                    routename: Rachammanahalli
                    route: ''
                  - srno: 2362
                    routeno: ''
                    routeid: 34304
                    center_lat: 0
                    center_lon: 0
                    responsecode: 200
                    routetypeid: '2'
                    routename: Rachenahalli
                    route: ''
                  - srno: 2363
                    routeno: ''
                    routeid: 34305
                    center_lat: 0
                    center_lon: 0
                    responsecode: 200
                    routetypeid: '2'
                    routename: Rachenahalli Cross
                    route: ''
                  - srno: 2364
                    routeno: ''
                    routeid: 34306
                    center_lat: 0
                    center_lon: 0
                    responsecode: 200
                    routetypeid: '2'
                    routename: Rachenalli Lake Park Dasarahalli
                    route: ''
                  - srno: 505
                    routeno: ''
                    routeid: 23392
                    center_lat: 0
                    center_lon: 0
                    responsecode: 200
                    routetypeid: '2'
                    routename: Radhareddy Layout Road SJP Main Road
                    route: ''
                  - srno: 2365
                    routeno: ''
                    routeid: 34307
                    center_lat: 0
                    center_lon: 0
                    responsecode: 200
                    routetypeid: '2'
                    routename: Radiant Redwood Apartment Koppa Road
                    route: ''
                  - srno: 2367
                    routeno: ''
                    routeid: 34310
                    center_lat: 0
                    center_lon: 0
                    responsecode: 200
                    routetypeid: '2'
                    routename: Raghavendra Circle Hosakote
                    route: ''
                  - srno: 2366
                    routeno: ''
                    routeid: 34309
                    center_lat: 0
                    center_lon: 0
                    responsecode: 200
                    routetypeid: '2'
                    routename: Raghavendra Circle T C Palya
                    route: ''
                  - srno: 2368
                    routeno: ''
                    routeid: 34312
                    center_lat: 0
                    center_lon: 0
                    responsecode: 200
                    routetypeid: '2'
                    routename: Raghavendra Colony
                    route: ''
                  - srno: 2680
                    routeno: ''
                    routeid: 34834
                    center_lat: 0
                    center_lon: 0
                    responsecode: 200
                    routetypeid: '2'
                    routename: Raghavendra Dhama
                    route: ''
                    Message: Success
                    Issuccess: true
                    exception:
                      RowCount: 3263
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                stationName:
                  type: string
            example:
              stationName: ra
  /GetTimetableByStation_v2:
    post:
      summary: Get timetable of routes passing through given station IDs
      tags: timetables
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                        fromstationid:
                          type: number
                        tostationid:
                          type: number
                        routeid:
                          type: number
                        f:
                          type: number
                        t:
                          type: number
                        routeno:
                          type: string
                        routename:
                          type: string
                        fromstationname:
                          type: string
                        tostationname:
                          type: string
                  Message:
                    type: string
                  Issuccess:
                    type: boolean
                  exception:
                    type: object
                  RowCount:
                    type: number
                  responsecode:
                    type: number
              example:
                data:
                  - id: 2
                    fromstationid: 27797
                    tostationid: 21173
                    routeid: 7616
                    f: 0.0
                    t: 11.31
                    routeno: 290-A
                    routename: RCH-SBS
                    fromstationname: Rachenahalli
                    tostationname: Shivajinagara Bus Station
                Message: Success
                Issuccess: true
                exception:
                  RowCount: 1
                responsecode: 200
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                fromStationId:
                  type: number
                toStationId:
                  type: number
            example:
              fromStationId: 34304
              toStationId: 35779
  /GetTimetableByRouteId_v2:
    post:
      summary: Get timetable of route by given route ID
      tag: timetables
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        fromstationname:
                          type: string
                        tostationname:
                          type: string
                        fromstationid:
                          type: string
                        tostationid:
                          type: string
                        tripdetails:
                          type: array
                          items:
                            type: object
                            properties:
                              starttime:
                                type: string
                              endtime:
                                type: string
                  Message:
                    type: string
                  Issuccess:
                    type: boolean
                  exception:
                    type: object
                  RowCount:
                    type: number
                  responsecode:
                    type: number
              example:
                data:
                  - fromstationname: Rachenahalli
                    tostationname: Shivajinagara Bus Station
                    fromstationid: '27797'
                    tostationid: '21173'
                    tripdetails:
                      - starttime: 06:35
                    endtime: 07:20
                  - starttime: 08:15
                    endtime: 09:00
                  - starttime: 08:20
                    endtime: 09:05
                  - starttime: 08:20
                    endtime: 09:05
                  - starttime: 09:35
                    endtime: 10:20
                  - starttime: 10:20
                    endtime: 11:05
                  - starttime: 11:00
                    endtime: 11:40
                  - starttime: 11:00
                    endtime: 11:40
                  - starttime: 12:30
                    endtime: 13:10
                  - starttime: 14:30
                    endtime: 15:05
                Message: Success
                Issuccess: true
                exception:
                  RowCount: 1
                responsecode: 200
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                routeid:
                  type: number
                fromStationId:
                  type: number
                toStationId:
                  type: number
                current_date:
                  type: string
            example:
              routeid: 7616
              fromStationId: 27797
              toStationId: 21173
              current_date: '2023-02-13'
  /GetPathDetails:
    post:
      summary: Get points along path followed by given route ID
      tag: routes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        latitude:
                          type: string
                        longitude:
                          type: string
                        responsecode:
                          type: number
                  Message:
                    type: string
                  Issuccess:
                    type: boolean
                  exception:
                    type: object
                  RowCount:
                    type: number
                  responsecode:
                    type: number
              example:
                data:
                  - latitude: '12.98414'
                    longitude: '77.60334'
                    responsecode: 200
                  - latitude: '12.98415'
                    longitude: '77.60332'
                    responsecode: 200
                  - latitude: '12.98416'
                    longitude: '77.60327'
                    responsecode: 200
                  - latitude: '12.984169999999999'
                    longitude: '77.60322'
                    responsecode: 200
                  - latitude: '12.984189999999998'
                    longitude: '77.60315'
                    responsecode: 200
                  - latitude: '12.984329999999998'
                    longitude: '77.60262'
                    responsecode: 200
                  - latitude: '12.984359999999999'
                    longitude: '77.6025'
                    responsecode: 200
                  - latitude: '12.984449999999999'
                    longitude: '77.60213'
                    responsecode: 200
                  - latitude: '12.98449'
                    longitude: '77.60198'
                    responsecode: 200
                  - latitude: '12.984559999999998'
                    longitude: '77.60177999999999'
                    Message: Success
                    Issuccess: true
                    exception:
                      RowCount: 116
                    responsecode: 200
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                routeid:
                  type: number
            example:
              routeid: 7910
  /RoutePoints:
    post:
      summary: Get points along path followed by given route ID
      tag: routes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        latitude:
                          type: string
                        longitude:
                          type: string
                        responsecode:
                          type: number
                  Message:
                    type: string
                  Issuccess:
                    type: boolean
                  exception:
                    type: object
                  RowCount:
                    type: number
                  responsecode:
                    type: number
              example:
                data:
                  - latitude: '12.98414'
                    longitude: '77.60334'
                    responsecode: 200
                  - latitude: '12.98415'
                    longitude: '77.60332'
                    responsecode: 200
                  - latitude: '12.98416'
                    longitude: '77.60327'
                    responsecode: 200
                  - latitude: '12.984169999999999'
                    longitude: '77.60322'
                    responsecode: 200
                  - latitude: '12.984189999999998'
                    longitude: '77.60315'
                    responsecode: 200
                  - latitude: '12.984329999999998'
                    longitude: '77.60262'
                    responsecode: 200
                  - latitude: '12.984359999999999'
                    longitude: '77.6025'
                    responsecode: 200
                  - latitude: '12.984449999999999'
                    longitude: '77.60213'
                    responsecode: 200
                  - latitude: '12.98449'
                    longitude: '77.60198'
                    responsecode: 200
                  - latitude: '12.984559999999998'
                    longitude: '77.60177999999999'
                    Message: Success
                    Issuccess: true
                    exception:
                      RowCount: 116
                    responsecode: 200
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                routeid:
                  type: number
            example:
              routeid: 7910
  /SearchStation:
    post:
      summary: Search for station by name
      tag: stops
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: 
                    type: array
                    items: 
                      type: object
                      properties: 
                        union_rowno: 
                          type: integer
                          format: number
                        row: 
                          type: integer
                          format: number
                        stopname: 
                          type: string
                        stopid: 
                          type: integer
                          format: number
                        geofencename: 
                          type: string
                        center_lat: 
                          type: number
                        center_lon: 
                          type: number
                        towards: 
                          type: string
                        responsecode: 
                          type: integer
                          format: number
                  Message: 
                    type: string
                  Issuccess: 
                    type: boolean
                  exception: 
                    type: string
                    format: nullable
                  RowCount: 
                    type: integer
                    format: number
                  responsecode: 
                    type: integer
                    format: number
              example:
                data:
                - union_rowno: 4
                  row: 1
                  stopname: ಹೆಬ್ಬಾಳ
                  stopid: 20817
                  geofencename: Hebbala (Towards Hebbala Last Stop 279E)
                  center_lat: 13.04135
                  center_lon: 77.58885
                  towards: Hebbala Last Stop 279E
                  responsecode: 200
                - union_rowno: 4
                  row: 2
                  stopname: ಹೆಬ್ಬಾಳ
                  stopid: 25816
                  geofencename: Hebbala (Towards Mekhri Circle)
                  center_lat: 13.03884
                  center_lon: 77.58947
                  towards: Mekhri Circle
                  responsecode: 200
                - union_rowno: 4
                  row: 3
                  stopname: ಹೆಬ್ಬಾಳ
                  stopid: 20820
                  geofencename: Hebbala (Towards Yalahanka)
                  center_lat: 13.03828
                  center_lon: 77.58917
                  towards: Yalahanka
                  responsecode: 200
                - union_rowno: 4
                  row: 4
                  stopname: ಹೆಬ್ಬಾಳ ಬ್ರಿಡ್ಜ್
                  stopid: 21527
                  geofencename: Hebbala Bridge (Towards BEL Circle)
                  center_lat: 13.0427
                  center_lon: 77.58944
                  towards: BEL Circle
                  responsecode: 200
                - union_rowno: 4
                  row: 5
                  stopname: ಹೆಬ್ಬಾಳ ಬ್ರಿಡ್ಜ್
                  stopid: 20822
                  geofencename: Hebbala Bridge (Towards Nagavara)
                  center_lat: 13.04218
                  center_lon: 77.59387
                  towards: Nagavara
                  responsecode: 200
                - union_rowno: 4
                  row: 6
                  stopname: ಹೆಬ್ಬಾಳ ಬ್ರಿಡ್ಜ್
                  stopid: 20823
                  geofencename: Hebbala Bridge (Towards Tin Factory)
                  center_lat: 13.04293
                  center_lon: 77.59122
                  towards: Tin Factory
                  responsecode: 200
                - union_rowno: 4
                  row: 7
                  stopname: ಹೆಬ್ಬಾಳ ಬ್ರಿಡ್ಜ್
                  stopid: 25819
                  geofencename: Hebbala Bridge (Towards Yalahanka)
                  center_lat: 13.04328
                  center_lon: 77.59036
                  towards: Yalahanka
                  responsecode: 200
                - union_rowno: 5
                  row: 1
                  stopname: 14ನೇ ಮೈನ್ ಎಚ್ಎಸ್ಆರ್ ಲೇಔಟ್
                  stopid: 20568
                  geofencename: 14th Main HSR Layout (Towards Hebbala)
                  center_lat: 12.91644
                  center_lon: 77.63458
                  towards: Hebbala
                  responsecode: 200
                - union_rowno: 5
                  row: 2
                  stopname: 80 ಅಡಿ ರೋಡ್ ಕಲ್ಯಾಣನಗರ
                  stopid: 21450
                  geofencename: 80ft Road Kalyananagara (Towards Hebbala)
                  center_lat: 13.02546
                  center_lon: 77.64042
                  towards: Hebbala
                  responsecode: 200
                Message: Success
                Issuccess: true
                exception:
                RowCount: 97
                responsecode: 200
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                stationName:
                  type: string
            example:
              stationName: 'Hebbal'
  /SearchByRouteDetails_v2:
    post:
      summary: Get details of route by routeid
      tag: routes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: 
                type: object
                properties: 
                  data: 
                    type: array
                    items: 
                      type: object
                      properties: 
                        routeid: 
                          type: integer
                          format: number
                        stationid: 
                          type: integer
                          format: number
                        stationname: 
                          type: string
                        from: 
                          type: string
                        to: 
                          type: string
                        routeno: 
                          type: string
                        distance_on_station: 
                          type: integer
                          format: number
                        centerlat: 
                          type: number
                        centerlong: 
                          type: number
                        responsecode: 
                          type: integer
                          format: number
                        isnotify: 
                          type: integer
                          format: number
                        vehicleDetails: 
                          type: array
                          items: 
                            type: object
                            properties: 
                              vehicleid: 
                                type: integer
                                format: number
                              vehiclenumber: 
                                type: string
                              servicetypeid: 
                                type: integer
                                format: number
                              servicetype: 
                                type: string
                              centerlat: 
                                type: number
                              centerlong: 
                                type: number
                              eta: 
                                type: string
                              sch_arrivaltime: 
                                type: string
                              sch_departuretime: 
                                type: string
                              actual_arrivaltime: 
                                type: string
                              actual_departuretime: 
                                type: string
                              sch_tripstarttime: 
                                type: string
                              sch_tripendtime: 
                                type: string
                              lastlocationid: 
                                type: integer
                                format: number
                              currentlocationid: 
                                type: integer
                                format: number
                              nextlocationid: 
                                type: integer
                                format: number
                              currentstop: 
                                type: string
                              nextstop: 
                                type: string
                              laststop: 
                                type: string
                              stopCoveredStatus: 
                                type: integer
                                format: number
                              heading: 
                                type: integer
                                format: number
                              lastrefreshon: 
                                type: string
                              lastreceiveddatetimeflag: 
                                type: integer
                                format: number
                  mapData: 
                    type: array
                    items: 
                      type: object
                      properties: 
                        vehicleid: 
                          type: integer
                          format: number
                        vehiclenumber: 
                          type: string
                        servicetypeid: 
                          type: integer
                          format: number
                        servicetype: 
                          type: string
                        centerlat: 
                          type: number
                        centerlong: 
                          type: number
                        eta: 
                          type: string
                        sch_arrivaltime: 
                          type: string
                        sch_departuretime: 
                          type: string
                        actual_arrivaltime: 
                          type: string
                        actual_departuretime: 
                          type: string
                        sch_tripstarttime: 
                          type: string
                        sch_tripendtime: 
                          type: string
                        lastlocationid: 
                          type: integer
                          format: number
                        currentlocationid: 
                          type: integer
                          format: number
                        nextlocationid: 
                          type: integer
                          format: number
                        currentstop: 
                          type: string
                        nextstop: 
                          type: string
                        laststop: 
                          type: string
                        stopCoveredStatus: 
                          type: integer
                          format: number
                        heading: 
                          type: integer
                          format: number
                        lastrefreshon: 
                          type: string
                        lastreceiveddatetimeflag: 
                          type: integer
                          format: number
                    down: 
                      type: object
                      properties: 
                        data: 
                          type: array
                          items: 
                        mapData: 
                          type: array
                          items: 
                  message: 
                    type: string
                  issuccess: 
                    type: boolean
                  exception: 
                    type: string
                    format: nullable
                  rowCount: 
                    type: integer
                    format: number
                  responsecode: 
                    type: integer
                    format: number
              example:
                up:
                  data:
                  - routeid: 3804
                    stationid: 34431
                    stationname: ರಾಯಲ್‌ ಮೀನಾಕ್ಷಿ ಮಾಲ್‌ ಬಿಜಿ ರಸ್ತೆ
                    from: ರಾಯಲ್‌ ಮೀನಾಕ್ಷಿ ಮಾಲ್‌ ಬಿಜಿ ರಸ್ತೆ
                    to: ಕೆಂಪೇಗೌಡ ಅಂತರಾಷ್ಟ್ರೀಯ ವಿಮಾನ ನಿಲ್ದಾಣ
                    routeno: KIA-14
                    distance_on_station: 0
                    centerlat: 12.87646
                    centerlong: 77.59502
                    responsecode: 200
                    isnotify: 0
                    vehicleDetails:
                    - vehicleid: 19979
                      vehiclenumber: KA57F1802
                      servicetypeid: 73
                      servicetype: AC
                      centerlat: 13.02217
                      centerlong: 77.584381
                      eta: ''
                      sch_arrivaltime: '11:00'
                      sch_departuretime: '11:00'
                      actual_arrivaltime: '11:00'
                      actual_departuretime: '11:00'
                      sch_tripstarttime: '11:00'
                      sch_tripendtime: '11:00'
                      lastlocationid: 21130
                      currentlocationid: 21076
                      nextlocationid: 21019
                      currentstop: ''
                      nextstop: Mekhri Circle (Towards Hebbala)
                      laststop: Palace Ground (Towards Mekhri Circle)
                      stopCoveredStatus: 1
                      heading: 21
                      lastrefreshon: 13-02-2023 11:57:47
                      lastreceiveddatetimeflag: 0
                    - vehicleid: 21575
                      vehiclenumber: KA57F2403
                      servicetypeid: 73
                      servicetype: AC
                      centerlat: 12.966782
                      centerlong: 77.587914
                      eta: ''
                      sch_arrivaltime: '10:15'
                      sch_departuretime: '10:15'
                      actual_arrivaltime: '11:12'
                      actual_departuretime: '11:12'
                      sch_tripstarttime: '10:15'
                      sch_tripendtime: '10:15'
                      lastlocationid: 36131
                      currentlocationid: 22667
                      nextlocationid: 20725
                      currentstop: ''
                      nextstop: Corporation (Towards Cauvery Bhavan / Mysore Bank)
                      laststop: Pallavi Talkies (Towards Kempegowda Bus Station)
                      stopCoveredStatus: 1
                      heading: 214
                      lastrefreshon: 13-02-2023 11:57:44
                      lastreceiveddatetimeflag: 0
                  - routeid: 3804
                    stationid: 22763
                    stationname: ಹುಳಿಮಾವು ಗೇಟ್
                    from: ರಾಯಲ್‌ ಮೀನಾಕ್ಷಿ ಮಾಲ್‌ ಬಿಜಿ ರಸ್ತೆ
                    to: ಕೆಂಪೇಗೌಡ ಅಂತರಾಷ್ಟ್ರೀಯ ವಿಮಾನ ನಿಲ್ದಾಣ
                    routeno: KIA-14
                    distance_on_station: 0.575
                    centerlat: 12.88163
                    centerlong: 77.59589
                    responsecode: 200
                    isnotify: 0
                    vehicleDetails:
                    - vehicleid: 19979
                      vehiclenumber: KA57F1802
                      servicetypeid: 73
                      servicetype: AC
                      centerlat: 13.02217
                      centerlong: 77.584381
                      eta: ''
                      sch_arrivaltime: '11:01'
                      sch_departuretime: '11:01'
                      actual_arrivaltime: '11:01'
                      actual_departuretime: '11:02'
                      sch_tripstarttime: '11:00'
                      sch_tripendtime: '11:00'
                      lastlocationid: 21130
                      currentlocationid: 21076
                      nextlocationid: 21019
                      currentstop: ''
                      nextstop: Mekhri Circle (Towards Hebbala)
                      laststop: Palace Ground (Towards Mekhri Circle)
                      stopCoveredStatus: 1
                      heading: 21
                      lastrefreshon: 13-02-2023 11:57:47
                      lastreceiveddatetimeflag: 0
                    - vehicleid: 21575
                      vehiclenumber: KA57F2403
                      servicetypeid: 73
                      servicetype: AC
                      centerlat: 12.966782
                      centerlong: 77.587914
                      eta: ''
                      sch_arrivaltime: '10:16'
                      sch_departuretime: '10:16'
                      actual_arrivaltime: '11:13'
                      actual_departuretime: '11:13'
                      sch_tripstarttime: '10:15'
                      sch_tripendtime: '10:15'
                      lastlocationid: 36131
                      currentlocationid: 22667
                      nextlocationid: 20725
                      currentstop: ''
                      nextstop: Corporation (Towards Cauvery Bhavan / Mysore Bank)
                      laststop: Pallavi Talkies (Towards Kempegowda Bus Station)
                      stopCoveredStatus: 1
                      heading: 214
                      lastrefreshon: 13-02-2023 11:57:44
                      lastreceiveddatetimeflag: 0
                  - routeid: 3804
                    stationid: 35232
                    stationname: ಬಿಪಿಎಲ್
                    from: ರಾಯಲ್‌ ಮೀನಾಕ್ಷಿ ಮಾಲ್‌ ಬಿಜಿ ರಸ್ತೆ
                    to: ಕೆಂಪೇಗೌಡ ಅಂತರಾಷ್ಟ್ರೀಯ ವಿಮಾನ ನಿಲ್ದಾಣ
                    routeno: KIA-14
                    distance_on_station: 1.16
                    centerlat: 12.88691
                    centerlong: 77.59676
                    responsecode: 200
                    isnotify: 0
                    vehicleDetails:
                    - vehicleid: 19979
                      vehiclenumber: KA57F1802
                      servicetypeid: 73
                      servicetype: AC
                      centerlat: 13.02217
                      centerlong: 77.584381
                      eta: ''
                      sch_arrivaltime: '11:02'
                      sch_departuretime: '11:02'
                      actual_arrivaltime: '11:03'
                      actual_departuretime: '11:03'
                      sch_tripstarttime: '11:00'
                      sch_tripendtime: '11:00'
                      lastlocationid: 21130
                      currentlocationid: 21076
                      nextlocationid: 21019
                      currentstop: ''
                      nextstop: Mekhri Circle (Towards Hebbala)
                      laststop: Pallavi Talkies (Towards Kempegowda Bus Station)
                      stopCoveredStatus: 1
                      heading: 21
                      lastrefreshon: 13-02-2023 11:57:47
                      lastreceiveddatetimeflag: 0
                    - vehicleid: 21575
                      vehiclenumber: KA57F2403
                      servicetypeid: 73
                      servicetype: AC
                      centerlat: 12.966782
                      centerlong: 77.587914
                      eta: ''
                      sch_arrivaltime: '10:17'
                      sch_departuretime: '10:17'
                      actual_arrivaltime: '11:15'
                      actual_departuretime: '11:15'
                      sch_tripstarttime: '10:15'
                      sch_tripendtime: '10:15'
                      lastlocationid: 36131
                      currentlocationid: 22667
                      nextlocationid: 20725
                      currentstop: ''
                      nextstop: Corporation (Towards Cauvery Bhavan / Mysore Bank)
                      laststop: Palace Ground (Towards Mekhri Circle)
                      stopCoveredStatus: 1
                      heading: 214
                      lastrefreshon: 13-02-2023 11:57:44
                      lastreceiveddatetimeflag: 0
                  - routeid: 3804
                    stationid: 23147
                    stationname: ಅರಕೆರೆ ಗೇಟ್
                    from: ರಾಯಲ್‌ ಮೀನಾಕ್ಷಿ ಮಾಲ್‌ ಬಿಜಿ ರಸ್ತೆ
                    to: ಕೆಂಪೇಗೌಡ ಅಂತರಾಷ್ಟ್ರೀಯ ವಿಮಾನ ನಿಲ್ದಾಣ
                    routeno: KIA-14
                    distance_on_station: 1.586
                    centerlat: 12.89057
                    centerlong: 77.59804
                    responsecode: 200
                    isnotify: 0
                    vehicleDetails:
                    - vehicleid: 19979
                      vehiclenumber: KA57F1802
                      servicetypeid: 73
                      servicetype: AC
                      centerlat: 13.02217
                      centerlong: 77.584381
                      eta: ''
                      sch_arrivaltime: '11:03'
                      sch_departuretime: '11:03'
                      actual_arrivaltime: '11:04'
                      actual_departuretime: '11:04'
                      sch_tripstarttime: '11:00'
                      sch_tripendtime: '11:00'
                      lastlocationid: 21130
                      currentlocationid: 21076
                      nextlocationid: 21019
                      currentstop: ''
                      nextstop: Mekhri Circle (Towards Hebbala)
                      laststop: Pallavi Talkies (Towards Kempegowda Bus Station)
                      stopCoveredStatus: 1
                      heading: 21
                      lastrefreshon: 13-02-2023 11:57:47
                      lastreceiveddatetimeflag: 0
                    - vehicleid: 21575
                      vehiclenumber: KA57F2403
                      servicetypeid: 73
                      servicetype: AC
                      centerlat: 12.966782
                      centerlong: 77.587914
                      eta: ''
                      sch_arrivaltime: '10:18'
                      sch_departuretime: '10:18'
                      actual_arrivaltime: '11:16'
                      actual_departuretime: '11:17'
                      sch_tripstarttime: '10:15'
                      sch_tripendtime: '10:15'
                      lastlocationid: 36131
                      currentlocationid: 22667
                      nextlocationid: 20725
                      currentstop: ''
                      nextstop: Corporation (Towards Cauvery Bhavan / Mysore Bank)
                      laststop: Palace Ground (Towards Mekhri Circle)
                      stopCoveredStatus: 1
                      heading: 214
                      lastrefreshon: 13-02-2023 11:57:44
                      lastreceiveddatetimeflag: 0
                  - routeid: 3804
                    stationid: 35156
                    stationname: ಹೆಚ್‌ಎಸ್‌ಬಿಸಿ
                    from: ರಾಯಲ್‌ ಮೀನಾಕ್ಷಿ ಮಾಲ್‌ ಬಿಜಿ ರಸ್ತೆ
                    to: ಕೆಂಪೇಗೌಡ ಅಂತರಾಷ್ಟ್ರೀಯ ವಿಮಾನ ನಿಲ್ದಾಣ
                    routeno: KIA-14
                    distance_on_station: 1.824
                    centerlat: 12.89261
                    centerlong: 77.59876
                    responsecode: 200
                    isnotify: 0
                    vehicleDetails:
                    - vehicleid: 19979
                      vehiclenumber: KA57F1802
                      servicetypeid: 73
                      servicetype: AC
                      centerlat: 13.02217
                      centerlong: 77.584381
                      eta: ''
                      sch_arrivaltime: '11:04'
                      sch_departuretime: '11:04'
                      actual_arrivaltime: '11:05'
                      actual_departuretime: '11:05'
                      sch_tripstarttime: '11:00'
                      sch_tripendtime: '11:00'
                      lastlocationid: 21130
                      currentlocationid: 21076
                      nextlocationid: 21019
                      currentstop: ''
                      nextstop: Mekhri Circle (Towards Hebbala)
                      laststop: Palace Ground (Towards Mekhri Circle)
                      stopCoveredStatus: 1
                      heading: 21
                      lastrefreshon: 13-02-2023 11:57:47
                      lastreceiveddatetimeflag: 0
                    - vehicleid: 21575
                      vehiclenumber: KA57F2403
                      servicetypeid: 73
                      servicetype: AC
                      centerlat: 12.966782
                      centerlong: 77.587914
                      eta: ''
                      sch_arrivaltime: '10:19'
                      sch_departuretime: '10:19'
                      actual_arrivaltime: '11:17'
                      actual_departuretime: '11:17'
                      sch_tripstarttime: '10:15'
                      sch_tripendtime: '10:15'
                      lastlocationid: 36131
                      currentlocationid: 22667
                      nextlocationid: 20725
                      currentstop: ''
                      nextstop: Corporation (Towards Cauvery Bhavan / Mysore Bank)
                      laststop: Pallavi Talkies (Towards Kempegowda Bus Station)
                      stopCoveredStatus: 1
                      heading: 214
                      lastrefreshon: 13-02-2023 11:57:44
                      lastreceiveddatetimeflag: 0
                message: Success
                issuccess: true
                exception:
                rowCount: 0
                responsecode: 200
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                routeid:
                  type: number
                servicetypeid:
                  type: number
            example:
              routeid: 2120
              servicetypeid: 0
  /GetEmergencyMessage:
    post:
      summary: Get emergency message
      tag: other
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                        buscount:
                          type: string
                        message_english:
                          type: string
                        message_kannada:
                          type: string
                        isdisplay:
                          type: number
                  Message:
                    type: string
                  Issuccess:
                    type: boolean
                  exception:
                    type: object
                  RowCount:
                    type: number
                  responsecode:
                    type: number
              example:
                data:
                  - id: 1
                    buscount: '3502'
                    message_english: Currently we are tracking 3502 buses.
                    message_kannada: ಪ್ರಸ್ತುತ ನಾವು ಟ್ರ್ಯಾಕ್ ಮಾಡುತ್ತಿದ್ದೇವೆ 3502 ಬಸ್ಸುಗಳು.
                    isdisplay: 1
                Message: ''
                Issuccess: true
                exception:
                  RowCount: 1
                responsecode: 200
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties: {}
            example: {}
  /AroundBusStops_v2:
    post:
      summary: Find places around bus stops
      tag: other
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        stationname:
                          type: string
                        Arounds:
                          type: array
                          items:
                            type: object
                            properties:
                              type:
                                type: string
                              typeid:
                                type: string
                              icon:
                                type: string
                              list:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    name:
                                      type: string
                                    latitude:
                                      type: string
                                    longitude:
                                      type: string
                                    distance:
                                      type: string
                  Message:
                    type: string
                  Issuccess:
                    type: boolean
                  exception:
                    type: object
                  RowCount:
                    type: number
                  responsecode:
                    type: number
              example:
                data:
                  - stationname: 11th Stone NICE Road
                    Arounds:
                      - type: Restroom
                    typeid: '181'
                    icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Restrooms.png
                    list:
                      - name: TestRestroom
                        latitude: '12.96749'
                        longitude: '77.58795'
                        distance: '5.50'
                  - stationname: Subbaiah Circle
                    Arounds:
                      - type: Restaurant
                        typeid: '157'
                        icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Restaurant.png
                        list:
                          - name: Test Restaurant
                        latitude: '12.96228'
                        longitude: '77.58947'
                        distance: '6.00'
                  - stationname: Poornima Talkies
                    Arounds:
                      - type: Parking
                        typeid: '3'
                        icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Parking.png
                        list:
                          - name: ParkingTest
                        latitude: '12.96285'
                        longitude: '77.59049'
                        distance: '6.04'
                  - stationname: Shanthinagara TTMC
                    Arounds:
                      - type: ATM
                        typeid: '155'
                        icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/ATM.png
                        list:
                          - name: SBI ATM
                        latitude: '12.95540'
                        longitude: '77.59179'
                        distance: '6.72'
                      - name: Karnataka Bank ATM
                        latitude: '12.95478'
                        longitude: '77.59289'
                        distance: '6.85'
                  - type: Hotel
                    typeid: '158'
                    icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Hotel.png
                    list:
                      - name: Vishnubhavan Hotel
                        latitude: '12.95517'
                        longitude: '77.59242'
                        distance: '6.79'
                      - name: A2B Hotel
                        latitude: '12.95457'
                        longitude: '77.59310'
                        distance: '6.88'
                  - type: Parking
                    typeid: '3'
                    icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Parking.png
                    list:
                      - name: Multi Level Parking For 2&4 Wheelers (Paid)
                        latitude: '12.95416'
                        longitude: '77.59185'
                        distance: '6.82'
                  - stationname: Kodays Circle
                    Arounds:
                      - type: Museum
                        typeid: '179'
                        icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Museums.png
                        list:
                          - name: TestMuseum
                        latitude: '13.00728'
                        longitude: '77.61208'
                        distance: '6.90'
                  - stationname: 11th Block Anjanapura
                    Arounds:
                      - type: Pharmacy
                        typeid: '180'
                        icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Pharmacies.png
                        list:
                          - name: TestPharmacy
                        latitude: '12.97971'
                        longitude: '77.61193'
                        distance: '7.16'
                  - stationname: 1st Block Vishweshwaraiah Layout
                    Arounds:
                      - type: Mall
                        typeid: '178'
                        icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Mall.png
                        list:
                          - name: TestMall
                        latitude: '13.04914'
                        longitude: '77.59289'
                        distance: '7.32'
                  - stationname: Banashankari TTMC
                    Arounds:
                      - type: ATM
                        typeid: '155'
                        icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/ATM.png
                        list:
                          - name: Banashankari TTMC-Karnataka Bank ATM
                        latitude: '12.91746'
                        longitude: '77.57328'
                        distance: '9.45'
                      - name: Banashankari TTMC-Indusland Bank
                        latitude: '12.91746'
                        longitude: '77.57330'
                        distance: '9.45'
                  - type: Hotel
                    typeid: '158'
                    icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Hotel.png
                    list:
                      - name: Banashankari TTMC-Sri Krishna Bhavan
                        latitude: '12.91745'
                        longitude: '77.57330'
                        distance: '9.45'
                  - type: Parking
                    typeid: '3'
                    icon: https://bmtcmobileapistaging.amnex.com/StaticFiles/Parking.png
                    list:
                      - name: Banashankari TTMC-Car-Bike Parking
                        latitude: '12.91725'
                        longitude: '77.57331'
                        distance: '9.48'
                    Message: Success
                    Issuccess: true
                    exception:
                      RowCount: 8
                    responsecode: 200
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                latitude:
                  type: number
                longitude:
                  type: number
            example:
              latitude: 12.9990931
              longitude: 77.5489402
